/************************* Route summary grid ************************/

#routes-header {
  display: grid;
  grid-template-columns: 30% 40% 30%;
  background-color: var(--colour1);
  font-size: 1rem;
  color: white;
  padding: 0.5rem;
  margin-top: 0.2rem;
  margin-bottom: 10px;
}

#routes-grid {
  display: grid;
  /* grid-template-columns: repeat(auto-fill, 250px); */
  grid-template-columns: minmax(100%, 400px);
  gap: 0.5rem;
  justify-content: center;
}

.no-filters {
  color: var(--colour3);
}

.filters-applied {
  background-color: yellow;
  color: black;
  padding: 5px;
}

.route {
  display: flex;
  border: 1px solid lightgray;
  flex-direction: row;
}

/************************* Grid content: pic ************************/

.route-pic {
  flex: 1 0 50%;
  position: relative;
}
.route-pic {
  flex: 50%;
}
.route-pic img {
  width: 100%;
  display: block; /* stops white space at bottom of image due to inline positioning */
}

.pic-label {
  position: absolute;
  top: 0rem;
  left: 0rem;
  color: white;
  background-color: rgb(0, 0, 0, 0.5);
}

.route-id {
  background-color: black;
  font-weight: bold;
  font-size: 0.8rem;
  display: inline-block;
  text-align: center;
  padding: 0.4rem;
}

.route-varients {
  color: yellow;
  display: inline-block;
  padding-right: 0.4rem;
  font-size: 0.8rem;
}

.starred {
  position: absolute;
  top: 0.2rem;
  right: 0.2rem;
}

.starred img {
  height: 1.5rem;
}

.variant-match {
  position: absolute;
  bottom: 0;
  width: 100%;
  color: var(--highlight-colour);
  padding-top: 0.3rem;
  padding-bottom: 0.3rem;
  text-align: center;
  background-color: var(--highlight-back-colour);
  opacity: 0.7;
  font-size: 0.8rem;
  font-weight: bold;
  display: none;
}

/************************* Grid content: detail ************************/

.route-detail {
  flex: 50%;
  background-color: white;
  padding: 0.5rem;
  position: relative;
  height: auto;
}

.favourite {
  float: right;
  height: 1rem;
  margin-left: 1rem;
  margin-bottom: 1rem;
  margin-top: 0.2rem;
  cursor: pointer;
  opacity: 0.8; /* tone down the icon */
}

.route-detail .title {
  font-weight: bold;
  font-size: 0.8rem;
  line-height: 1rem;
  overflow: visible;
  margin-bottom: 0.3rem;
}

.route-detail .description {
  font-size: 0.8rem;
  line-height: 1rem;
  height: 3rem;
  /* clear: both; */
}

.metrics {
  position: absolute;
  bottom: 0;
  padding-bottom: inherit;
}

.route-metric {
  float: left;
  padding-right: 0.8rem;
  vertical-align: bottom;
}

.route-metric img {
  height: 0.8rem;
}

.route-metric p {
  font-size: 0.6rem;
  margin-bottom: 0.1rem;
}

/************************* Filters ************************/

#filter-header {
  background-color: var(--colour1);
  color: white;
  display: grid;
  grid-template-columns: auto 2rem;
  padding: 0.5rem;
}

.clearButton {
  text-align: left;
  font-weight: bold;
}

.filter-panel {
  padding: 0.5rem;
  background-color: var(--colour-light-bkg);
  border-left: 1px solid lightgray;
}

#filter h3 {
  font-weight: bold;
  font-size: 0.8rem;
  color: black;
  margin-top: 1rem;
  margin-bottom: 0.8rem;
}

/************************* Active filter box ************************/

#active-filter-grid {
  font-size: 0.8rem;
  font-weight: bold;
  height: 6rem;
  text-align: center;
  background-color: var(--colour3);
}

.emptyStateText {
  font-weight: normal;
  display: flex;
  justify-content: center;
  align-items: center;
  line-height: 1.2rem;
  height: 100%;
}

.active-filter {
  padding: 6px;
  display: grid;
  grid-template-columns: 3rem auto 2rem;
  margin: 3px;
  text-align: left;
}

/* aglign active filter elements vertically */
.active-filter > div {
  display: flex;
  justify-content: left;
  align-items: center;
}

/* active filter close button */
.active-filter > div:nth-child(3) {
  justify-content: center;
  cursor: pointer;
  font-size: 1.2rem;
}

/* style active filters by state */
.state-ONLY {
  color: white;
  background-color: var(--included-back-colour);
}

.state-NO {
  color: white;
  background-color: var(--excluded-back-colour);
}

/************************* ************************/

.filter-section {
  margin-bottom: 2rem;
}

/************************* General filters ************************/

#general-filter-grid {
  display: grid;
  grid-template-columns: repeat(2, 2.5rem) 8.5rem ;
  column-gap: 0.5rem;
  justify-items: center;
}

#general-filter-grid > div {
  cursor: pointer;
}

.text-button {
  font-weight: bold;
  color:darkblue;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}

/************************* Category filters ************************/

.filter-row {
  display: grid;
  grid-template-columns: repeat(5, 2.5rem);
  column-gap: 0.5rem;
  justify-items: center;
  row-gap: 0.5rem;
}

#category-filter-grid .icon {
  cursor: pointer;
}

.feature-heading {
  font-size: 0.8rem;
  text-align: left;
  margin-top: 0.5rem;
  margin-bottom: 0.2rem;
}

/************************* Location filtering ************************/

#location-filter-grid {
  display: grid;
  grid-template-columns: repeat(5, 2.5rem);
  grid-template-rows: 2.5rem auto;
  column-gap: 0.5rem;
  row-gap: 1rem;
  justify-items: center;
}

#location-filter-grid .icon {
  cursor: pointer;
}

#location-filter-grid > div:nth-child(1) { grid-column: 1; grid-row: 1; } /* filter icon */
#location-filter-grid > div:nth-child(2) { grid-column: 2 / 6; grid-row: 1; } /* instructions */
#location-filter-grid > div:nth-child(3) { grid-column: 1 / 6; grid-row: 2; } /* area buttons grid */

#location-area-grid {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: repeat(3, 2rem) 2rem;
  column-gap: 0.5rem;
  row-gap: 0.5rem;
  justify-content: center;
  justify-items: center;
}

#location-area-grid > div {
  cursor: pointer;
}

#location-message {
  display: flex;
  line-height: 1.2rem;
  height: 100%;
  font-size: 0.8rem;
  font-weight: normal;
  text-align: center;
}

/* explicit positioning of area selection buttons */
#location-area-grid > div:nth-child(1) { grid-column: 2; grid-row: 1; } /* north */
#location-area-grid > div:nth-child(2) { grid-column: 1; grid-row: 2; } /* west */
#location-area-grid > div:nth-child(3) { grid-column: 2; grid-row: 2; } /* central */
#location-area-grid > div:nth-child(4) { grid-column: 3; grid-row: 2; } /* east */
#location-area-grid > div:nth-child(5) { grid-column: 2; grid-row: 3; } /* south */
#location-area-grid > div:nth-child(6) { grid-column: 1; grid-row: 4; } /* select all */
#location-area-grid > div:nth-child(7) { grid-column: 3; grid-row: 4; } /* select none */

.filter-button,
.filter-button-on {
  border: 1px solid lightgray;
  border-radius: 6px;
  width: 100%;
  color: var(--colour0);
  font-size: 0.8rem;
  display: flex;
  justify-content: center;
  align-items: center;
  box-sizing: border-box;
  background-color: white;
}

.filter-button-on {
  background-color: var(--colour1);
  color: var(--colour3);
}

.text-button {
  font-size: 0.8rem;
}

/************************* Filter icons ************************/

.icon {
  position: relative;
  border: 1px solid lightgray;
  border-radius: 0.2rem;
  width: 1.8rem;
  height: 1.8rem;
  display: block;
  padding: 0.3rem;
  background-color: white;
  box-shadow: 0 0 3px 0px lightgrey;
}

.disabled {
  opacity: 0.5;
}

.disabled > img {
  opacity: 0.5;
}

.icon-img {
  width: 100%;
  height:100%;
  object-fit: contain;
}

.included > img,
.excluded > img {
  filter: invert(100%);
}

.included {
  background-color: var(--included-back-colour);
}

.excluded {
  background-color: var(--excluded-back-colour);
}

.filter-status {
  position: absolute;
  top: 0;
  right: 0;
  width: 50%;
}

/************************* Grid areas ************************/

#main-content {
  grid-area: routes-grid;
}

#navbar {
  grid-area: nav;
}

#filter {
  grid-area: filter;
}

#content-grid {
  grid-template-columns: auto;
  grid-template-areas: "routes-grid";
}

/************************* Media queries ************************/

/* wide enough for two routes side-by side in vertical layout */
@media (min-width: 560px) {
  #routes-grid {
    grid-template-columns: repeat(auto-fill, 250px);
  }
  
  .route {
    flex-direction: column;
  }

  .route-detail {
    flex: 1 0 100%;
  }
}

/* wide enough for the navbar to be included in the content */
 @media (min-width: 1340px) {
  #content-grid {
    grid-template-columns: var(--nav-panel-width) auto;
    grid-template-areas: "nav routes-grid";
  }
}

/* wide enough for the filter panel to be included in the main content*/
@media (min-width: 1500px) {
  #content-grid {
    grid-template-columns: var(--nav-panel-width) 1fr var(--filter-panel-width);
    grid-template-areas: "nav routes-grid filter";
  }

  .filter-panel {
    position: static;
    transition: none;
    /*transform: translateX(-100%) !important;  override the value set by the nav close button */
  }
}
