/*
 * Common styles and definitions including:
 * - links
 * - buttons (regular and floating action)
 * - header and footer
 * - navigation menu
 * - collection navigation
 * - page grid (extended and modified in other css files as needed
 * - basic media queries for changing sliding navigation in as fixed element in the grid
 */

@import url("https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300;0,400;0,600;1,400&display=swap");

:root {
  /* shades of increasing lightness */
  --colour0: #313030;
  --colour1: #565656;
  --colour2: #c0c0c0;
  --colour3: #d3d3d3;
  --colour4: #f0f0f0;
  --colour5: #f6f5f5;

  --colour-light-bkg: #fefefe;
  --link-colour: #2451ab;
  --button-colour: #2451ab;

  /* colours for active filter selections */
  --included-back-colour: #00802b;
  --excluded-back-colour: #e60000;
  --highlight-back-colour: yellow;

  /* z-order for components */
  --z-float: 1;
  --z-header: 2;
  --z-modal: 3;
  --z-overlay: 4;
  --z-filter: 5;
  --z-menu: 6;

  /* sizes */
  --nav-panel-width: 11rem;
  --routes-filter-panel-width: 14.5rem;
  --poi-filter-panel-width: 14rem;
  --header-height: 3rem;
  --footer-height: 2rem;
}

html,
body {
  font-family: "Open Sans", sans-serif;
  font-size: 16px;
  background-color: var(--colour-light-bkg);
}

/************************* Link sytling ************************/

/* 
 * colour links but don't automatically underline them
 * stop long links breaking out of their container by breaking them
 * - there is a better but more involved solution here:
 * https://css-tricks.com/better-line-breaks-for-long-urls/
 */
a {
  text-decoration: none;
  color: var(--link-colour);
  font-weight: bold;
  overflow-wrap: break-word;
  word-wrap: break-word;
  word-break: break-word;
}

a:hover {
  text-decoration: underline;
}

.map-links {
  font-size: 0.7rem;
  padding-top: 0.1rem;
  padding-bottom: 0.3rem;
  line-height: 150%;
  text-align: right;
}

/* indicate external links
    from: https://stackoverflow.com/questions/5379752/css-style-external-links 
    with amendments to use an SVG image coloured same as the link
*/
a[href^="http://"]:not(.trail-link):after,
a[href^="https://"]:not(.trail-link):after {
  filter: invert(26%) sepia(75%) saturate(2108%) hue-rotate(210deg)
    brightness(74%) contrast(86%);
  content: "";
  background: url("../img/icons/box-arrow-up-right.svg");
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center center;
  margin-left: 0.2rem;
  padding-right: 0.75rem;
}

/************************* Button sytling ************************/

/* 
 * a button box is a container for buttons 
 * two buttons can sit side-by-side, a single button will take up the whole width
 */
.button-box {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-content: center;
  margin-top: 0.5rem;
  margin-bottom: 0.5rem;
  gap: 0.3rem;
  box-sizing: border-box;
}

.button-box > .button {
  flex: 1 0;
  width: auto;
}

.last-element {
  margin-bottom: 1rem;
  height: 1.8rem;
}

.button {
  border: 1px solid var(--button-colour);
  border-radius: 6px;
  color: var(--button-colour);
  background-color: white;
  font-weight: bold;
  font-size: 0.8rem;
  padding: 0.4rem;
  text-align: center;
  cursor: pointer;
  user-select: none;
  width: 100%;
}

.primary {
  background-color: var(--button-colour);
  color: white;
}

.button.primary img {
  filter: invert(100%);
}

.button img {
  /* https://codepen.io/sosuke/pen/Pjoqqp to convert black to current link colour */
  filter: invert(26%) sepia(75%) saturate(2108%) hue-rotate(210deg)
    brightness(74%) contrast(86%);
}

.button > a {
  text-decoration: none;
  color: inherit;
}

.button > a > img {
  height: 1.6rem;
  float: left;
  padding-right: 0.3rem;
}

/* for route download format information */
.format {
  font-size: 0.6rem;
  margin-top: 0.2rem;
}

.text-button {
  font-size: 0.8rem;
  cursor: pointer;
  font-weight: bold;
  color: var(--button-colour);
  text-align: left;
}

/************************* Action button ************************/

/* material design style floating primary action button */

/* positioning and styling - these can also be used with collection-nav */
.floating {
  position: fixed;
  z-index: var(--z-float);
  box-shadow: 0 6px 10px 0 #666;
  background-color: var(--button-colour);
  color: white;
}

.filter-position {
  bottom: 1rem;
  right: 2rem;
}

.coll-nav-position {
  bottom: 1rem;
  left: 50%;
  transform: translateX(-50%);
}

.action-button {
  width: 6rem;
  border-radius: 1rem;
  padding: 0.5rem;
  font-size: 1.2rem;
  text-align: center;
  cursor: pointer;
  user-select: none;
}

/* depends on action-button background colour - wants to be contrasting */
.action-button > img {
  filter: invert(100%);
}

/************************* Header ************************/

#header {
  color: white;
  background-color: var(--colour0);
  position: sticky;
  top: 0;
  z-index: var(--z-header);
  height: var(--header-height);

  display: grid;
  grid-template-columns: 2.2rem auto 2.2rem;
  grid-template-rows: 3rem;
  column-gap: 1rem;
  font-size: 1.2rem;
}

#header > div {
  font-size: 1rem;
  display: flex;
  justify-content: center;
  align-items: center;
}

#back-nav img,
#open-menu img {
  filter: invert(100%);
  height: 1.6rem;
  width: 1.6rem;
  display: inline-block;
}

#back-nav {
  text-align: left;
  margin-right: auto;
  padding-left: 0.5rem;
  cursor: pointer;
  user-select: none;
}

#header-title {
  text-align: center;
}

#open-menu {
  text-align: right;
  margin-left: auto;
  padding-right: 0.5rem;
  cursor: pointer;
  user-select: none;
}

/* count of how many filters are currently applied */

.active-filters {
  color: black;
  background-color: white;
  border-radius: 6px;
  margin-left: 1rem;
  padding: 0.1rem 0.2rem 0.1rem 0.2rem;
  display: inline-block;
  font-size: 0.8rem;
  font-weight: bold;
  margin-top: 0.2rem;
}

.active-filters img {
  vertical-align: top;
}

.none {
  background-color: inherit;
  color: grey;
}

.none > img {
  filter: invert(50%);
}

/************************* Footer ************************/

#footer {
  color: white;
  background-color: var(--colour0);
  height: var(--footer-height);
}

#footer-content {
  font-size: 0.8rem;
  text-align: center;
  padding: 0.5rem;
}


/************************* Nav menu ************************/

/* slide-out panel */
.sidenav {
  height: 100%;
  width: var(--nav-panel-width);
  position: fixed;
  z-index: var(--z-menu);
  top: 0;
  left: 0;
  transform: translateX(-100%);
  transition: transform 250ms ease-in-out;
  background-color: var(--colour-light-bkg);
  overflow-x: hidden;
  padding-top: 0px;
  white-space: nowrap;
}

/* Menu links */

.menu-section {
  font-size: 0.8rem;
  padding: 0.5rem 1rem 0.5rem 0rem;
  margin-top: 0.5rem;
  margin-left: 1rem;
  margin-right: 1rem;
  text-transform: uppercase;
}

.menu-link {
  padding: 0.4rem 1rem 0.4rem 2rem;
  text-decoration: none !important;
  background-color: var(--colour-light-bkg);
  color: var(--colour0);
  display: block;
  margin-top: 0.1rem;
  margin-bottom: 0.1rem;
}

/* add a little spacing before the first menu item */
.menu-link:first-of-type {
  margin-top: 1rem;
}

.menu-icon {
  width: 1.5rem;
  height: 1.5rem;
  padding-right: 0.5rem;
  vertical-align: middle;
}

.menu-decorator {
  float: right;
  height: 1.5rem;
  width: 1.5rem;
}

.menu-item-name {
  font-size: 0.8rem;
  font-weight: bold;
  color: var(--colour0);
}

.sidenav .current {
  background-color: var(--button-colour);
  margin-left: 1rem;
  margin-right: 1rem;
  border-radius: 6px;
  padding-left: 1rem;
}

.current .menu-item-name {
  color: white;
}

.current > img {
  filter: invert(100%);
}

.menu-decorator {
  filter: invert(100%);
  height: 1.2rem;
  width: 1.2rem;
  margin-top: 0.175rem;
}

/* highlight all but the currently selected menu option (it's already highlighted) */
.menu-link:not(.current):hover {
  color: black;
  background-color: var(--colour4);
  margin-left: 1rem;
  margin-right: 1rem;
  border-radius: 6px;
  padding-left: 1rem;
  text-decoration: none;
}

.sidenav .close-button {
  font-size: 36px;
  padding: 0.5rem 1rem 0.5rem 1rem;
  margin-bottom: 1rem;
  text-decoration: none;
  text-align: right;
  display: block;
  border-bottom: 1px solid lightgray;
  cursor: pointer;
  user-select: none;
}

/* dim background content and provide an alternative click zone for closing the nav */
.overlay {
  z-index: var(--z-overlay);
  background-color: rgb(0, 0, 0, 0.5);
  height: 100%;
  width: 100%;
  position: fixed;
  display: none;
  overflow: hidden;
}


/************************* Collection navigation bar ************************/

/* can be used with floating and bottom-middle classes for route detail nav */
.collection-nav {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  column-gap: 1rem;
  font-size: 1rem;
  font-weight: bold;
  padding: 0.5rem;
  height: 1.5rem;
  border-radius: 1.25rem;
  width: 10rem;
}

.collection-nav > .arrow {
  cursor: pointer;
  user-select: none;
  flex: 0 0 auto;
  background-repeat: no-repeat;
  background-size: contain;
  height: 1.5rem;
  width: 1.5rem;
}

.collection-nav.floating > .arrow {
  filter: invert(100%);
}

.collection-nav > .previous {
  background-image: url("../img/icons/chevron-left.svg");
}

.collection-nav > .next {
  background-image: url("../img/icons/chevron-right.svg");
}

/* grey-out nav components when disabled */
.collection-nav > .disable-nav {
  cursor: default;
  filter: invert(70%);
}

/* full-width light coloured fixed to bottom - used for POI detail navigation */
.fixed-bottom {
  background-color: var(--colour-light-bkg);
  color: var(--colour0);
  height: 1.5rem;
  border-top: 1px solid lightgray;
  border-radius: 0;
  width: auto;
}


/************************* Page grid ************************/

/* grid height ensures the page doesn't collapse vertically when a filter reduces the content */
#main-content {
  grid-area: main;
  min-height: calc(100vh - var(--header-height) - var(--footer-height));
}

#navbar {
  grid-area: nav;
}

#content-grid {
  display: grid;
  grid-template-columns: 100%;
  grid-template-areas: "main";
}


/************************* Media queries ************************/

/* increase the base font size when there is enough space */
@media (min-width: 500px) {
  html,
  body {
    font-size: 20px;
  }
}

/* wide enough for the navbar to be included in the main content */
@media (min-width: 1340px) {
  #content-grid {
    grid-template-columns: var(--nav-panel-width) auto;
    grid-template-areas: "nav main";
  }

  #navbar {
    display: block;
    z-index: 0;
  }

  .sidenav {
    z-index: 0;
    position: relative;
    transform: none;
    transition: none;
    white-space: inherit;
    width: auto;
    left: 0;
    border-right: 1px solid lightgray;
  }

  #menu-header {
    display: none;
  }

  .sidenav .closebtn {
    display: none;
  }

  #open-menu {
    visibility: hidden;
  }
}
