/************************* Filter panel ************************/

/* assumes 3 divs: header, main filter section, and buttons */
.filter-panel {
  position: fixed;
  z-index: var(--z-filter);
  top: 0;
  left: 100%;
  transition: transform 250ms ease-in-out;
  padding-top: 0px;
  white-space: nowrap;
  padding: 0.5rem;
  background-color: var(--colour-light-bkg);
  border-left: 1px solid lightgray;
  display: grid;
  grid-template-rows: 2.3rem auto 3.5rem;
  height: 100%;
  overflow: hidden;
}

/* header and buttons remain fixed while the central filter section scrolls */
.filter-panel > div:nth-child(2) {
  /* hide scrollbar - 50px is max scrollbar width */
  margin-right: -50px;
  padding-right: 50px;
  overflow-y: scroll;
}

.routes-filters {
  width: var(--routes-filter-panel-width);
  grid-template-rows: 7.5rem auto 3.5rem;
}

.poi-filters {
  width: var(--poi-filter-panel-width);
}

.filter-title {
  font-weight: bold;
  font-size: 0.8rem;
  margin-bottom: 0.5rem;
  background-color: var(--colour1);
  color: white;
  padding: 0.5rem;
  text-align: center;
}

.filter-sub-head {
  font-weight: bold;
  font-size: 0.8rem;
  color: black;
  margin-top: 1rem;
  margin-bottom: 0.8rem;
}

/************************* Item summary grid ************************/

#browse-grid {
  display: grid;
  grid-template-columns: minmax(100%, 400px); /* limit width to pic size */
  gap: 0.5rem;
  justify-content: center;
  margin: 0.5rem;
}

.item {
  display: flex;
  flex-direction: row;
  box-shadow: 1px 1px 4px var(--colour4);
  cursor: pointer;
}

/************************* Grid content: pic ************************/

.item-pic {
  flex: 1 0 50%;
  position: relative;
}

.item-pic {
  flex: 50%;
}

.item-pic img {
  width: 100%;
  display: block;
}

.pic-label {
  position: absolute;
  top: 0rem;
  left: 0rem;
  color: white;
  background-color: rgb(0, 0, 0, 0.5);
}

.item-id {
  background-color: black;
  font-weight: bold;
  font-size: 0.8rem;
  display: inline-block;
  text-align: center;
  padding: 0.4rem;
}

/************************* Grid content: detail ************************/

#zero-matches {
  display: none;
  text-align: center;
  grid-column: 1/-1;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  width: 100%;
  text-align: center;
  min-height: 80vh;
  align-items: center;
}

.item-detail {
  flex: 50%;
  background-color: white;
  padding: 0.5rem;
  position: relative;
  height: auto;
}

.item-detail .title {
  font-weight: bold;
  font-size: 0.8rem;
  line-height: 1rem;
  overflow: visible;
  margin-bottom: 0.3rem;
}

.item-detail .description {
  font-size: 0.8rem;
  line-height: 1rem;
}

/************************* Grid areas ************************/

#filter {
  grid-area: filter;
}

#content-grid {
  background-color: var(--colour5); 
}

/************************* Media queries ************************/

/* wide enough for two routes side-by side in vertical layout */
@media (min-width: 560px) {
  #browse-grid {
    grid-template-columns: repeat(auto-fill, 250px);
  }
  
  .item {
    flex-direction: column;
  }

  .item-detail {
    flex: 1 0 6.5rem;
  }

  /* in vertical format we know the picture size */
  .item-pic > img {
    background-color: lightgray;
    width: 250px;
    height: 187px;
    display: block;
  }
}

/* wide enough for the navbar to be included in the content */
 @media (min-width: 1340px) {
  #content-grid {
    grid-template-columns: var(--nav-panel-width) 1fr;
    grid-template-areas: "nav main";
  }
}

/* wide enough for the filter panel to be included in the main content*/
@media (min-width: 1500px) {
  #content-grid {
    grid-template-columns: var(--nav-panel-width) 1fr auto;
    grid-template-areas: "nav main filter";
  }

  /* no longer a grid so components just position themselves naturally */
  .filter-panel {
    height: auto;
    z-index: 0;
    position: relative;
    display: block;
    transition: none;
    transform: translateX(-100%) !important;
  }

  #close-filter {
    display: none;
  }

  /* hide filter button */
  #filter-button {
    display: none;
  }
}