/************************* Grid header ************************/

.grid-header {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: space-between;
  align-items: center;
  background-color: var(--colour1);
  font-size: 1rem;
  color: white;
  padding: 0.5rem;
  position: sticky;
  bottom: 0;
  z-index: 1;
  height: 1.5rem;
}

/* filter count */
.filter-count {
  flex: 1 0 auto;
  text-align: center;
  max-width: 5rem;
  color: var(--colour4);
}

/* match count */
.grid-header div:nth-child(2) {
  flex: 1 0 auto;
  text-align: center;
}

/* filter button */
.grid-header div:nth-child(3) {
  flex: 1 0 auto;
  text-align: center;
  padding: 0.2rem;
  border-radius: 6px;
  font-weight: bold;
  max-width: 5rem;
  border: 1px solid white;
}

.filters-applied {
  background-color: yellow;
  color: black;
  padding: 5px;
}

/************************* Item summary grid ************************/

#browse-grid {
  display: grid;
  grid-template-columns: minmax(100%, 400px);
  gap: 0.5rem;
  justify-content: center;
  margin: 0.5rem;

}

.item {
  display: flex;
  flex-direction: row;
  box-shadow: 1px 1px 4px var(--colour4);
}

/************************* Grid content: pic ************************/

.item-pic {
  flex: 1 0 50%;
  position: relative;
}

.item-pic {
  flex: 50%;
}

.item-pic img {
  width: 100%;
  display: block; /* stops white space at bottom of image due to inline positioning */
}

.pic-label {
  position: absolute;
  top: 0rem;
  left: 0rem;
  color: white;
  background-color: rgb(0, 0, 0, 0.5);
}

.item-id {
  background-color: black;
  font-weight: bold;
  font-size: 0.8rem;
  display: inline-block;
  text-align: center;
  padding: 0.4rem;
}

/************************* Grid content: detail ************************/

.item-detail {
  flex: 50%;
  background-color: white;
  padding: 0.5rem;
  position: relative;
  height: auto;
}

.item-detail .title {
  font-weight: bold;
  font-size: 0.8rem;
  line-height: 1rem;
  overflow: visible;
  margin-bottom: 0.3rem;
}

.item-detail .description {
  font-size: 0.8rem;
  line-height: 1rem;
  /* height: 3rem; */
  /* clear: both; */
}

/************************* Grid areas ************************/

#main-content {
  grid-area: browse-grid;
}

#navbar {
  grid-area: nav;
}

#filter {
  grid-area: filter;
}

#content-grid {
  grid-template-columns: auto;
  grid-template-areas: "browse-grid";
  margin-left: 0px;
  margin-right: 0px; 
  background-color: var(--colour5); 
}

/************************* Media queries ************************/

/* wide enough for two routes side-by side in vertical layout */
@media (min-width: 560px) {
  #browse-grid {
    grid-template-columns: repeat(auto-fill, 250px);
  }
  
  .item {
    flex-direction: column;
  }

  .item-detail {
    flex: 1 0 6.5rem;
  }

  /* in vertical format we know the picture size */
  .item-pic > img {
    background-color: lightgray;
    width: 250px;
    height: 187px;
    display: block; /* stops white space at bottom of image due to inline positioning */
  }
}

/* wide enough for the navbar to be included in the content */
 @media (min-width: 1340px) {
  #content-grid {
    grid-template-columns: var(--nav-panel-width) auto;
    grid-template-areas: "nav browse-grid";
  }
}

/* wide enough for the filter panel to be included in the main content*/
@media (min-width: 1500px) {
  #content-grid {
    grid-template-columns: var(--nav-panel-width) 1fr auto;
    grid-template-areas: "nav browse-grid filter";
  }

  .filter-panel {
    position: static;
    transition: none;
    height: 100%;
    /*transform: translateX(-100%) !important;  override the value set by the nav close button */
  }

  /* hide filter button */
  #filter-button {
    visibility: hidden;
  }
}
