@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300;0,400;0,600;1,400&display=swap');

:root {
  /* colours */
  --colour0: #313030;
  --colour1: #565656;
  --colour3: #f6f5f5;
  --colour4: #D3D3D3;
  --colour5: #F0F0F0;
  --colour6: #86592d;
  --colour-light-bkg: #fefefe;
  --included-back-colour: #00802b;
  --excluded-back-colour: #e60000;
  --highlight-back-colour: #ffff00;
  --highlight-colour: black;
  --button-colour-bkg: #dddddd;
  --link-colour: #2451ab;

  /* z-order for components */
  --z-float: 1;
  --z-header: 2;
  --z-modal: 3;
  --z-overlay: 4;
  --z-filter: 5;
  --z-menu: 6;

  /* sizes */
  --nav-panel-width: 240px;
  --nav-panel-width-sml: 200px;
  --filter-panel-width: 310px;
  --max-content-width: 1800px; /* guess - to be revised */
  --header-height: 3rem;
  --footer-height: 2rem;
}

html, body {
  font-family: 'Open Sans', sans-serif;
  font-size: 16px;
  background-color: var(--colour-light-bkg);
}

.h-container {
  margin: 0 auto;
  max-width: var(--max-content-width);
}

/************************* Button sytling ************************/

a {
  text-decoration: none;
  color: var(--link-colour);
  font-weight: bold;
}

a:hover {
  text-decoration: underline;
}

/* indicate external links
    from: https://stackoverflow.com/questions/5379752/css-style-external-links 
    with amendments to use an SVG image coloured same as the link
*/
a[href]:not(:where(
  /* exclude hash only links */
  [href^="#"],
  /* exclude relative but not double slash only links */
  [href^="/"]:not([href^="//"]),
  /* domains to exclude */
  /* [href*="//stackoverflow.com"], */
  /* subdomains to exclude */
  /* [href*="//meta.stackoverflow.com"], */
)):after {
  filter: invert(26%) sepia(75%) saturate(2108%) hue-rotate(210deg) brightness(74%) contrast(86%);
  content: "";
  background: url('/img/icons/box-arrow-up-right.svg');
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center center;
  margin-left: 0.2rem; /* spacing*/
  padding-right: 0.75rem; /* sizing */
}

.button-box {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-content: center;
  margin-top: 0.5rem;
  margin-bottom: 0.5rem;
  gap: 0.3rem;
  box-sizing: border-box;
}

.button-box > .button {
  flex: 1 0;
  width: auto;
}

.last-element {
  margin-bottom: 0;
  margin-top: 1rem;
}

.button {
  /* border: 1px solid var(--colour0); */
  border: 1px solid var(--link-colour);
  border-radius: 6px;
  /* color: darkgreen; */
  color: var(--link-colour);
  background-color: white;
  font-weight: bold;
  font-size: 0.8rem;
  padding: 0.5rem;
  text-align: center;
  cursor: pointer;
  user-select: none;
  width: 100%;
}

.primary {
  /* background-color: darkgreen; */
  background-color: var(--link-colour);
  color: white;
}

.button.primary img {
  filter: invert(100%);
}

.button img {
  /* https://codepen.io/sosuke/pen/Pjoqqp to convert black to current link colour */
  filter: invert(26%) sepia(75%) saturate(2108%) hue-rotate(210deg) brightness(74%) contrast(86%);
}

.button > a {
  text-decoration: none;
  color: inherit;
}

.button > a > img {
  height: 1.6rem;
  float: left;
  padding-right: 0.3rem;
}

.format {
  font-size: 0.6rem;
  margin-top: 0.2rem;
}

.text-button {
  font-size: 0.8rem;
  cursor: pointer;  font-weight: bold;
  color: var(--link-colour);
  text-align: left;
}

/************************* Action button ************************/

/* positioning and styling - these can also be used with collection-nav */
.floating {
  position: fixed;
  z-index: var(--z-float);
  box-shadow: 0 6px 10px 0 #666;
  /* background-color: darkgreen; */
  background-color: var(--link-colour);
  color: white;
}

.filter-position {
  bottom: 1rem;
  right: 2rem;
}

.coll-nav-position {
  bottom: 1rem;
  left: 50%;
  transform: translateX(-50%);
}

/* the button: round with icon */
.action-button {
  width: 2rem;
  height: 2rem;
  border-radius: 50%;
  padding: 0.5rem;
}

.action-button:hover {
  box-shadow: 0 6px 14px 0 #666;
  transform: scale(1.05);
}

.action-button > img {
  width: 100%;
  margin-top: 0.2rem;
  filter: invert(100%);
}

/************************* Header and footer ************************/

.active-filters {
  color: black;
  background-color: white;
  border-radius: 6px;
  margin-left: 1rem;
  padding: 0.1rem 0.2rem 0.1rem 0.2rem;
  display: inline-block;
  font-size: 0.8rem;
  font-weight: bold;
  margin-top: 0.2rem;
}

.active-filters img {
  vertical-align: top;
}

.none {
  background-color: inherit;
  color: grey;
}

.none > img {
  filter: invert(50%);
}

#header {
  color: white;
  background-color: var(--colour0);
  position: sticky;
  top: 0;
  z-index: var(--z-header);
  height: var(--header-height);
}

#header-content {
  display: grid;
  grid-template-columns: 3rem auto 3rem;
  grid-template-rows: 3rem;
  column-gap: 1rem;
  font-size: 1.2rem;
  text-align: center;
}

#header .col {
  font-size: 1rem;
  display: flex;
  justify-content: center;
  align-items: center;
}

#header .col:nth-child(1) {
  text-align: left;
}

#header .col:nth-child(3) {
  text-align: right;
}

#footer {
  color: white;
  background-color: var(--colour0);
  height: var(--footer-height);
}

#footer-content {
  font-size: 0.8rem;
  text-align: center;
  padding: 0.5rem;
}

/************************* Nav menu ************************/

.sidenav {
  height: 100%;
  width: var(--nav-panel-width-sml);
  position: fixed;
  z-index: var(--z-menu); /* position over background-dimming overlay */
  top: 0;
  left: 0;
  transform: translateX(-100%);
  transition: transform 250ms ease-in-out;
  background-color: var(--colour-light-bkg);
  overflow-x: hidden; /* disable horizontal scroll */
  padding-top: 0px;
  white-space: nowrap;
}

.filter-panel {
  height: 100vh;
  /* width: var(--filter-panel-width); */
  position: fixed;
  z-index: var(--z-filter); /* position over background-dimming overlay */
  top: 0;
  left: 100%;
  /* transform: translateX(-100%); */
  transition: transform 250ms ease-in-out;
  background-color: var(--colour-light-bkg);
  overflow-x: hidden; /* disable horizontal scroll */
  padding-top: 0px;
  white-space: nowrap;
  background-color: white;
}


/* Menu links */

.menu-section {
  font-size: 0.8rem;
  padding: 0.5rem 1rem 0.5rem 0rem;
  margin-top: 0.5rem;
  margin-left: 1rem;
  margin-right: 1rem;
  text-transform: uppercase;
}

.menu-link {
  padding: 0.4rem 1rem 0.4rem 2rem;
  text-decoration: none;
  background-color: var(--colour-light-bkg);
  color: var(--colour0);
  display: block;
  margin-top: 0.1rem;
  margin-bottom: 0.1rem;
}

/* add a little spacing before the first menu item */
.menu-link:first-of-type {
  margin-top: 1rem;
}

.menu-icon {
  width: 1.5rem;
  height: 1.5rem;
  padding-right: 0.5rem;
  vertical-align: middle;
}

.menu-item-name {
  font-size: 0.8rem;
  font-weight: bold;
  color: var(--colour0);
}

.sidenav .current {
  background-color: var(--link-colour);
  margin-left: 1rem;
  margin-right: 1rem;
  border-radius: 6px;
  padding-left: 1rem;
}

.current .menu-item-name {
  color: white;
}

.current img {
  filter: invert(100%);
}

.menu-link:not(.current):hover  {
  color: black;
  background-color: var(--colour5);
  margin-left: 1rem;
  margin-right: 1rem;
  border-radius: 6px;
  padding-left: 1rem;
  text-decoration: none;
}

/* Position and style the close button (top right corner) */
.sidenav .close-button {
  font-size: 36px;
  padding: 0.5rem 1rem 0.5rem 1rem;
  margin-bottom: 1rem;
  text-decoration: none;
  text-align: right;
  display: block;
  border-bottom: 1px solid lightgray;
  cursor: pointer;
  user-select: none;
}

/* Turn cursor into hand over clickable elements */
#header .clickable {
  cursor: pointer;
}

/* Dim background content and provide an alternative click zone for closing the nav */
#overlay {
  z-index: var(--z-overlay);
  background-color: rgb(0, 0, 0, 0.5);
  height: 100%;
  width: 100%;
  position: fixed;
  display: none;
  overflow: hidden;
}

/************************* Collection navigation bar ************************/

/* can be used with floating and bottom-middle classes for route detail nav */
.collection-nav {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  column-gap: 1rem;
  font-size: 1rem;
  font-weight: bold;
  padding: 0.5rem;
  height: 1.5rem;
  border-radius: 1.25rem;
  width: 10rem;
}

.collection-nav > .arrow {
  cursor: pointer;
  user-select: none;
  flex: 0 0 auto;
  background-repeat: no-repeat;
  background-size: contain;
  height: 1.5rem;
  width: 1.5rem;
}

.collection-nav.floating > .arrow {
  filter: invert(100%);
}

.collection-nav > .previous {
  background-image: url("/img/icons/chevron-left.svg");
}

.collection-nav > .next {
  background-image: url("/img/icons/chevron-right.svg");
}

/* full-width light coloured fixed to bottom - used for POI detail navigation */
.fixed-bottom {
  background-color: var(--colour-light-bkg);
  color: var(--colour0);
  /* position: sticky; */
  /* bottom: 0;
  z-index: 1; */
  height: 1.5rem;
  border-top: 1px solid lightgray;
  border-radius: 0;
  width: auto;
}

/************************* Page grid ************************/

#main-content {
  grid-area: main;
  min-height: calc(100vh - var(--header-height) - var(--footer-height));
}

#navbar {
  grid-area: nav;
}

#content-grid {
  display: grid;
  grid-template-columns: 100%;
  grid-template-areas: "main";
  /* column-gap: 16px; */
  /* margin-left: 16px;
  margin-right: 16px; */
}

@media (min-width: 500px) {
  /* portrait tablets, portrait iPad, e-readers (Nook/Kindle), landscape 800x480 phones (Android) */
  html, body {
    font-size: 20px;
  }

  .sidenav {
    width: var(--nav-panel-width);
  }
}

/* wide enough for the navbar to be included in the main content */
@media (min-width: 1380px) {
  #content-grid {
    grid-template-columns: var(--nav-panel-width) auto;
    grid-template-areas: "nav main";
  /* column-gap: 20px; */
    /* margin-left: 64px;
    margin-right: 64px;   */
  }

  #navbar {
    display: block;
    z-index: 0;
  }

  .sidenav {
    /* width: var(--nav-panel-width); */
    z-index: 0;
    position: relative;
    transform: none;
    transition: none;
    white-space: inherit;
    width: auto;
    left: 0;
    border-right: 1px solid lightgray;
    /* transform: translateX(100%) !important; */
  }

  #menu-header {
    display: none;
  }

  .sidenav .closebtn {
    display: none;
  }

  /* hide menu button in header */
  #header .col:nth-child(1) {
    visibility: hidden;
  }
}




