h1 {
  font-weight: bold;
  font-size: 1.2rem;
  margin-top: 1.2rem;
  margin-bottom: 1.2rem;
}

h2 {
  font-weight: bold;
  font-size: 1rem;
  margin-bottom: 1rem;
}

p {
  font-size: 0.8rem;
  line-height: 130%;
  margin-bottom: 0.5rem;
}

strong {
  font-weight: bold;
}

li {
  font-size: 0.8rem;
  line-height: 130%;
  margin-bottom: 0.5rem;
  margin-left: 1rem;
  list-style-type: none;
}

.bullets li {
  list-style-type: disc;
}

.trail-marker {
  float: left;
  overflow: hidden;
}

.bullet-style {
  display: grid;
  grid-template-columns: auto auto;
  row-gap: 0.5rem;
  column-gap: 0.5rem;
  margin-top: 1rem;
}

.bullet-style-text {
  font-size: 0.9rem;
  line-height: 130%;
  margin-bottom: 0.5rem;
}

.blaze {
  background-color: white;
  border: 1px solid black;
  height: 0.4rem;
  width: 1.6rem;
  padding: 4px;
  margin-bottom: 0.2rem;
}

.gr {
  background-color: red;
}

.pr {
  background-color: yellow;
}

.sl {
  background-color: green;
}

.bus-routes {
  font-size: 0.8rem;
}

.bus-routes td {
  padding: 0.3rem;
}



.bus-routes tr td:nth-child(1) {
  text-align: right;
}

/* #content-grid {
  grid-template-columns: repeat(2, fit-content(24rem));
  row-gap: 2rem;
  column-gap: 2rem;
} */

/* .span2 {
  grid-column: 1 / -1;
} */

figcaption {
  font-size: 0.7rem;
  padding: 0.5rem;
  background-color: var(--col);
}

.centering-container {
  margin: 0 auto;
}

.content-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  flex-wrap: wrap;
  gap: 20px;
  padding: 1rem 0 1rem 0;
  border-top: 1px solid lightgray;
}

.content-box {
  flex-grow: 1;
  max-width: 24rem;
  /* width: 24rem; */
  /* border: 1px solid red; */
}

.content-box > img {
  display: block;
  margin-left: auto;
  margin-right: auto;
  /* width: 50%; */
  max-width: 100%;
}

.content-box > p {
  line-height: 140%;
  font-size: 0.9rem;
}

/* wide enough for two columns */
@media (min-width: 560px) {
  .content-container {
    flex-direction: row;
  }
}