h1 {
  font-weight: bold;
  font-size: 1.2rem;
  margin-top: 1.2rem;
  margin-bottom: 2rem;
  padding-top: 1rem;
  text-align: center;
}

.content-box h2 {
  font-weight: bold;
  font-size: 1rem;
  margin-bottom: 1rem;
  margin-top: 1.5rem;
}

.sub-head {
  grid-column: 1 / -1;
  font-weight: bold;
  font-size: 1rem;
  margin-bottom: 1rem;
  margin-top: 1.5rem;
  border-top: 1px solid lightgray;
  padding-top: 1rem;
}
p {
  font-size: 0.8rem;
  line-height: 130%;
  margin-bottom: 0.5rem;
}

strong {
  font-weight: bold;
}

figcaption {
  font-size: 0.7rem;
  padding: 0.5rem;
  background-color: var(--col);
  text-align: center;
}

.centering-container {
  margin: 0 auto;
}

.content-container {
  display: grid;
  grid-template-columns: minmax(auto, 30rem);
  column-gap: 2rem;
  padding: 1rem;
  margin-bottom: 1rem;
}

.tinted {
  background-color: var(--colour3);
}

.content-box > img {
  display: block;
  margin-left: auto;
  margin-right: auto;
  max-width: 100%;
  margin-top: 1rem;
}

.content-box > img:first-child {
  margin-top: 1rem;
}

.content-box > p {
  line-height: 140%;
  font-size: 0.9rem;
}

.content-box ul {
  list-style: disc;
  font-size: 0.9rem;
  line-height: 130%;
  margin-left: 1rem;
}

.content-box li {
  display: list-item;
  margin-bottom: 0.5rem;
}

.heading {
  font-size: 2rem;
  grid-column: 1;
  margin-top: 0;
  line-height: 130%;
}

/*************************** Media queries  ***************************/
  #content-grid {
    margin-left: 0px;
    margin-right: 0px;
    column-gap: 0;
  }

/* wide enough for two columns */
@media (min-width: 66rem) {
  .content-container {
    grid-template-columns: repeat(2, 24rem);

  }

  .heading {
    grid-column: 1 / -1;
  }

  /* images at the top of a content box don't want a top pargin */
  .content-box > img:first-child {
    margin-top: 0;
  }
}

/* wide enough for navigation to be included as a sidebar */
@media (min-width: 1340px) {

  /* restore normal grid settings */
  #content-grid {
    column-gap: 20px;
    margin-left: 64px;
    margin-right: 64px;  
  }
}