/*************************** Hero image  ***************************/

/* n.b. alerts are a block component on smaller screens before
   the hero image but on larger displays are positioned over the
   hero image and need a containing relative position element for that 
*/
.hero-container {
  position: relative;
  width: 100%;
}

.hero {
  position: relative;
}

.hero img {
  width: 100%;
  display: block;
}

.centering-container.hero-content {
  margin: 0;
}

/*************************** Alerts  ***************************/

/* full width component before image on smaller screens */
.alerts {
  background-color: darkorange;
  padding: 0.5rem;
  font-size: 0.8rem;
  color: white;
}

.alerts li {
  list-style: none;
  position: relative;
  padding-left: 1.5rem;
  margin-left: 0;
  margin-bottom: 0.3rem;
  line-height: 140%;
}

.alerts li:last-of-type {
  margin-bottom: 0;
}

/* white icon warning as bullet */
.alerts li::before {
  content: '';
  display: inline-block;
  height: 1rem;
  width: 1rem;
  margin-top: 0.25rem;
  background-image: url("img/icons/warning.svg");
  filter: invert(100%);
  background-size: contain;
  background-repeat: no-repeat;
  position: absolute;
  left: 0;
  top: 0;
}

strong {
  font-style: bold;
}

/*************************** Display block  ***************************/

/* 
 * container for title, links block and scroll prompt 
 * n.b. max-height is determined by the visible part of the image
 * allowing for any alert block (which we can only guess at the height of)
 * and ensuring scroll prompt is not overlaid by bits of the browser 
 */
.display-block {
  position: absolute;
  top: 0;
  width: 100%;
  display: flex;
  flex-direction: column;
  height: 100%;
  max-height: calc(100vh - 12rem);
  justify-content: center;
}


/*************************** Titling  ***************************/

.title {
  font-size: 3rem;
  color: white;
  filter: drop-shadow(2px 2px 5px black);
  text-align: center;
  flex: 0 0 auto;
  margin-top: auto;
}

.sub-title {
  text-transform: uppercase;
  font-size: 1.5rem;
  display: block;
  text-align: center;
  margin-top: 0.5rem;
  font-weight: bold;
}


/*************************** Quick Links  ***************************/

.quick-links {
  width: 100%;
  text-align: center;
  flex: 0 0 auto;
  margin-top: auto;
  margin-bottom: auto;
}

.quick-links a {
  width: 12rem;
  padding: 1rem;
  font-weight: 1rem;
  font-style: bold;
  background-color: rgb(0, 0, 0, 0.5);
  color: white;
  display: block;
  border-radius: 2rem;
  margin: 0 auto;
  margin-top: 0.5rem;
  text-decoration: none;
  text-align: center;
}


/*************************** Scroll prompt  ***************************/

/* position at the bottom */
.scroll-invite {
  color: white;
  text-align: center;
  font-weight: bold;
  font-size: 0.8rem;
  padding: 0.5rem;
  filter: drop-shadow(2px 2px 1px black);
  flex: 0 0 auto;
  width: 100%;
  margin-top: auto;
}

.scroll-invite img {
  width: 2rem;
  filter: invert(100%);
  display: block;
  margin-left: auto;
  margin-right: auto;
}

/* 
 * animated down chevron to draw attention to content
 * below the fold which might not be obvious otherwise 
 */
.bounce {
  animation: ca3_fade_move_down 2s ease-in-out infinite;
}

@keyframes ca3_fade_move_down {
  0%   { transform:translate(0,-10px); opacity: 0;  }
  50%  { opacity: 1;  }
  100% { transform:translate(0,10px); opacity: 0; }
}


/*************************** Grid positioning ***************************/

.hero-content {
  grid-area: hero;
}

#main-content {
  grid-area: main;
}

#content-grid {
  grid-template-areas: 
    "hero"
    "main";
}


/*************************** Media queries  ***************************/

/* wide enough for navigation to be included as a sidebar */
@media (min-width: 1340px) {

  #content-grid {
    grid-template-areas: 
      "nav hero"
      "nav main";
  }

  /* hero image no longer full width but in a constrained area */
  .centering-container.hero-content {
    margin: 0 auto;
  }

  .hero-container {
    margin-top: 0.5rem;
    width: 50rem;
  }

  /* no need for these if navigation is showing */
  .quick-links {
    display: none;
  }

  .scroll-invite {
    display: none;
  }

  .alerts {
    position: absolute;
    top: 1rem;
    right: 1rem;
    width: 25rem;
    box-shadow: 2px 2px 5px var(--colour1);
    z-index: 100;
  }

  /* limited height image */
  .hero img {
    max-height: 30rem;
    object-fit: cover;
    object-position: 100% 0;
    overflow: hidden;
  }
  
  /* larger title */
  .title {
    font-size: 6rem;
    margin-bottom: auto;
  }

  .sub-title {
    font-size: 2rem;
  }
}
