/*************************** Hero image  ***************************/

.hero-container {
  position: relative;
}

.hero {
  position: relative;
  /* display: flex; */
}

.hero img {
  width: 100%;
  /* position: absolute;
  top: 0; */
  display: block;
}

.display-block {
  position: absolute;
  /* left: 50%; */
  top: 0;
  /* transform: translate(-50%, 0); */
  width: 100%;
  /* border: 1px solid yellow; */
  display: flex;
  flex-direction: column;
  /* align-content:center; */
  height: 100%;
  max-height: calc(100vh - 12rem);
  justify-content: center;
}

/*************************** Titling  ***************************/

.title {
  font-size: 3rem;
  color: white;
  filter: drop-shadow(2px 2px 5px black);
  text-align: center;
  flex: 0 0 auto;
  /* border: 1px solid red; */
  margin-top: auto;
}

.sub-title {
  text-transform: uppercase;
  font-size: 1.5rem;
  display: block;
  text-align: center;
  margin-top: 0.5rem;
  font-weight: bold;
}

/*************************** Scroll down  ***************************/


.scroll-invite {
  color: white;
  text-align: center;
  font-weight: bold;
  font-size: 0.8rem;
  /* margin-bottom: 1rem; */
  padding: 0.5rem;
  filter: drop-shadow(2px 2px 1px black);
  flex: 0 0 auto;
  width: 100%;
  margin-top: auto;
  /* border: 1px solid red; */
}

.scroll-invite img {
  width: 2rem;
  filter: invert(100%);
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.bounce {
  animation: bounce 1s ease infinite;
}

@keyframes bounce {
	0% {transform: translateY(0);}
	50% {transform: translateY(-5px);}
	100% {transform: translateY(0px);}
}

/*************************** Quick Links  ***************************/

.quick-links {
  /* margin-top: 1rem;
  margin-bottom: 1rem; */
  width: 100%;
  text-align: center;
  flex: 0 0 auto;
  /* justify-content: center; */
  /* border: 1px solid blue; */
  /* align-items: center; */
  margin-top: auto;
  margin-bottom: auto;
}

.quick-links a {
  width: 12rem;
  padding: 1rem;
  font-weight: 1rem;
  font-style: bold;
  background-color: rgb(0, 0, 0, 0.5);
  color: white;
  display: block;
  border-radius: 2rem;
  margin: 0 auto;
  margin-top: 0.5rem;
  text-decoration: none;
  text-align: left;
}

/*************************** Alerts  ***************************/

.alerts {
  background-color: darkorange;
  padding: 0.5rem;
  font-size: 0.8rem;
  color: white;
  /* max-width: 800px; */
  /* height: 3rem; */
}

.alerts li {
  list-style: none;
  position: relative;
  padding-left: 1.5rem;
  margin-left: 0;
  margin-bottom:0;
  line-height: 1.5rem;
}

.alerts li::before {
  content: '';
  display: inline-block;
  height: 1rem;
  width: 1rem;
  margin-top: 0.25rem;
  background-image: url("/img/icons/warning.svg");
  filter: invert(100%);
  background-size: contain;
  background-repeat: no-repeat;
  position: absolute;
  left: 0;
  top: 0;
}

strong {
  font-style: bold;
}

/* wide enough for navigation to be included as a sidebar */
@media (min-width: 1340px) {

  /* no need for these if navigation is showing */
  .quick-links {
    display: none;
  }
  .scroll-invite {
    display: none;
  }

  .alerts {
    position: absolute;
    top: 1rem;
    right: 1rem;
    width: 25rem;
    box-shadow: 2px 2px 5px var(--colour1);
    z-index: 100;
  }

  .hero img {
    max-height: 30rem;
    object-fit: cover;
    object-position: 100% 0;
    overflow: hidden;
  }
  
  .title {
    font-size: 4rem;
    margin-bottom: auto;
  }
}