/* 
 * full size modal for mobile with fixed header, bottom nav, 
 * and scrollable middle 
 */
.modal {
  display: none;
  position: fixed;
  z-index: var(--z-modal);
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto; /* enable scroll if needed */
  background-color: rgba(0, 0, 0, 0.7);
}

/* class purely to prevent scrolling of body when showing a modal */
.body-stop-scroll {
  overflow-y: hidden;
}

/* scrollable modal body */
.modal-content-wrapper {
  padding-left: 1rem;
  padding-right: 1rem;
  overflow-y: auto;
}

.modal-content {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  background-color: #fefefe;
  margin: 0 auto;
  /* max-width: 400px; */
  height: 100%;
  display: grid;
  grid-template-rows: 3rem auto 3rem;
  row-gap: 1rem;
}

.close {
  color: black;
  float: right;
  font-size: 2.5rem;
  padding-left: 1rem;
  cursor: pointer;
}

.modal-title {
  font-size: 1rem;
  line-height: 120%;
  padding: 1rem 1rem 0 1rem;
  border-bottom: 1px solid var(--colour3);
}

.poi-title {
  font-size: 1.2rem;
  font-weight: bold;
  line-height: 120%;
  /* padding: 1rem; */
  padding-bottom: 1rem;
}

.poi-detail-pic img {
  max-width: 100%; /* constrain to container */
  width: 100;
  height: auto;
  object-fit: contain;
}

.tags {
  margin-top: 1rem;
  margin-bottom: 1rem;
}

.poi-tag {
  font-size: 0.6rem;
  text-transform: uppercase;
  font-weight: bold;
  background-color: var(--colour1);
  color: white;
  padding: 0.1rem 0.2rem 0.1rem 0.2rem;
  margin-right: 0.2rem;
  border-radius: 0.2rem;
  line-height: 200%;
}

.button-set {
  display: flex;
  position: absolute;
  bottom: 0.5rem;
  flex-flow: row wrap;
  column-gap: 10px;
  width: calc(100% - 1rem); /* allow for parent's padding */
}

.button-modal {
  display: flex;
  margin-top: 1rem;
  width: 100%;
  flex-flow: row wrap;
  column-gap: 10px;
}

.grid-item-button {
  font-size: 0.8rem;
  font-style: bold;
  color: var(--colour0);
  border: 1px solid var(--colour1);
  border-radius: 6px;
  box-sizing: border-box;
  padding: 0.5rem;
  flex: 1 0;
  text-align: center;
  cursor: pointer;
  text-decoration: none;
  color: var(--colour0);
}

.extra-detail {
  display: block;
  margin-top: 0.3rem;
}

#full-details .button-box {
  margin: 0;
}

/************************* general details ************************/

.general-details {
  font-size: 0.7rem;
  padding: 0.2rem;
  width: 100%;
  margin-top: 0.3rem;
  margin-bottom: 0.3rem;
  line-height: 120%;
}

.general-details td {
  padding: 0.3rem 0.3rem 0.3rem 0;
}

.general-details td:nth-child(1) {
  font-weight: bold;
  padding-right: 0.5rem;
  width: auto;
}

.fees {
  font-size: 0.7rem;
}

/************************* opening times ************************/

.opening-times {
  font-size: 0.7rem;
  margin-top: 0.3rem;
  margin-bottom: 0.3rem;
  line-height: 120%;
}

.opening-times td:nth-child(1) {
  margin-right: 1rem;
  padding: 0.2rem 0.2rem 0.2rem 0;
}

.opening-times td:nth-child(2) {
  padding: 0.2rem 0 0.2rem 0.2rem;
}

.opening-times tr {
  border: solid 1px var(--colour3);
  border-width: 1px 0;
}

.opening-times tr:nth-child(1) {
  border: none;
  border-width: 0;
}

.opening-times th {
  text-align: left;
  font-weight: bold;
  padding: 0.2rem 0.2rem 0.3rem 0;
}

.opening-times td:nth-child(2) {
  width: auto;
  white-space: nowrap;
  text-align: right;
}

.description {
  font-size: 0.8rem;
  line-height: 140%;
}

/************************* media queries ************************/

/*
 * when there's enough space (not on mobile anymore) change to a
 * fixed width modal in the middle of the screen
 */
@media (min-width: 560px) {
  .modal-content {
    position: absolute;
    top: 50%;
    left: 50%;
    max-width: 400px;
    transform: translate(-50%, -50%);
  }

  .modal-content {
    height: auto;
  }
}
