@import url("/css/common-grid.css");
@import url("/css/poi-detail.css");


/************************* Filter styles ************************/

.poi-category-description {
  margin-top: 0.2rem;
  font-size: 0.8rem;
  font-style: normal;
}


/************************* Custom checkbox ************************/

/* checkbox label */
.container {
  display: block;
  position: relative;
  padding-left: 2rem;
  margin-bottom: 0.5rem;
  cursor: pointer;
  font-size: 1rem;
  user-select: none;
}

/* hide the browser's default checkbox */
.container input {
  position: absolute;
  opacity: 0;
  cursor: pointer;
  height: 0;
  width: 0;
}

/* create a custom checkbox */
.checkmark {
  position: absolute;
  top: 0.1rem; /* nudge the checkbox down to align the top with the poi tag */
  left: 0;
  height: 25px;
  width: 25px;
  background-color: white;
  border: 1px solid var(--colour1);
}

.container input:checked ~ .checkmark {
  background-color: var(--colour1);
}

/* highlight the checkbox when moused over */
.container:hover input ~ .checkmark {
  background-color: var(--colour2);
}

/* create the checkmark but hide when not checked */
.checkmark:after {
  content: "";
  position: absolute;
  display: none;
}

/* show the checkmark when checked */
.container input:checked ~ .checkmark:after {
  display: block;
}

/* create a tick by creating a box with 2 adjacent unequal borders and rotating it */
.container .checkmark:after {
  left: 9px;
  top: 5px;
  width: 5px;
  height: 10px;
  border: solid white;
  border-width: 0 3px 3px 0;
  transform: rotate(45deg);
}
