@import url("/css/common-grid.css");


/************************* Grid content: pic additions ************************/

.route-varients {
  color: yellow;
  display: inline-block;
  padding-right: 0.4rem;
  font-size: 0.8rem;
}

.starred {
  position: absolute;
  top: 0.2rem;
  right: 0.2rem;
}

.starred img {
  height: 1.5rem;
}

.variant-match {
  position: absolute;
  bottom: 0;
  width: 100%;
  color: var(--highlight-colour);
  padding-top: 0.3rem;
  padding-bottom: 0.3rem;
  text-align: center;
  background-color: var(--highlight-back-colour);
  opacity: 0.7;
  font-size: 0.8rem;
  font-weight: bold;
  display: none;
}

/************************* Grid content: detail ************************/

.favourite {
  float: right;
  height: 1rem;
  margin-left: 0.8rem;
  margin-bottom: 0.8rem;
  margin-top: 0.2rem;
  cursor: pointer;
  opacity: 0.8; /* tone down the icon */
}

.metrics {
  position: absolute;
  bottom: 0;
  padding-bottom: inherit;
}

.route-metric {
  float: left;
  padding-right: 0.8rem;
  vertical-align: bottom;
}

.route-metric img {
  height: 0.8rem;
}

.route-metric p {
  font-size: 0.6rem;
  margin-bottom: 0.1rem;
}

/************************* Filters ************************/

#filter-header {
  background-color: var(--colour1);
  color: white;
  display: grid;
  grid-template-columns: auto 2rem;
  padding: 0.5rem;
}

.clearButton {
  text-align: left;
  font-weight: bold;
}

.filter-panel {
  padding: 0.5rem;
  background-color: var(--colour-light-bkg);
  border-left: 1px solid lightgray;
}

/************************* Active filter box ************************/

#active-filter-grid {
  font-size: 0.8rem;
  font-weight: bold;
  height: 6rem;
  text-align: center;
  background-color: var(--colour3);
}

.emptyStateText {
  font-weight: normal;
  display: flex;
  justify-content: center;
  align-items: center;
  line-height: 1.2rem;
  height: 100%;
}

.active-filter {
  padding: 6px;
  display: grid;
  grid-template-columns: 3rem auto 2rem;
  margin: 3px;
  text-align: left;
}

/* aglign active filter elements vertically */
.active-filter > div {
  display: flex;
  justify-content: left;
  align-items: center;
}

/* active filter close button */
.active-filter > div:nth-child(3) {
  justify-content: center;
  cursor: pointer;
  font-size: 1.2rem;
}

/* style active filters by state */
.state-ONLY {
  color: white;
  background-color: var(--included-back-colour);
}

.state-NO {
  color: white;
  background-color: var(--excluded-back-colour);
}

/************************* ************************/

.filter-sub-head {
  font-weight: bold;
  font-size: 0.8rem;
  color: black;
  margin-top: 1rem;
  margin-bottom: 0.8rem;
}

.tabbed {
  display: none;
}

.tab-strip {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: space-around;
  margin-top: 1rem;
  margin-bottom: 0.8rem;
}

.tab {
  flex: 1 0 content;
  padding: 0.5rem;
  font-size: 0.8rem;
  font-weight: bold;
  color: grey;
  text-align: center;
  cursor: pointer;
  user-select: none;
  border: none;
  border-bottom: 1px solid lightgray;
}

.tab-selected {
  border: 1px solid lightgray;
  border-bottom: none;
  color: black;
}

#category-filters {
  display: block;
}

#location-filters {
  display: none;
}

/************************* General filters ************************/

#general-filter-grid {
  display: grid;
  grid-template-columns: repeat(2, 2.5rem) 8.5rem ;
  column-gap: 0.5rem;
  justify-items: center;
}

#general-filter-grid > div {
  cursor: pointer;
}

.text-button {
  font-weight: bold;
  color:darkblue;
  /* display: flex; */
  /* justify-content: center; */
  /* align-items: center; */
  text-align: center;
}

/************************* Category filters ************************/

.filter-row {
  display: grid;
  grid-template-columns: repeat(5, 2.5rem);
  column-gap: 0.5rem;
  justify-items: center;
  row-gap: 0.5rem;
}

#category-filter-grid .icon {
  cursor: pointer;
}

.feature-heading {
  font-size: 0.8rem;
  text-align: left;
  margin-top: 0.5rem;
  margin-bottom: 0.2rem;
}

/************************* Location filtering ************************/

#location-filter-grid {
  display: grid;
  grid-template-columns: repeat(5, 2.5rem);
  grid-template-rows: auto 2.5rem 2.5rem auto;
  column-gap: 0.5rem;
  row-gap: 0.5rem;
  justify-items: center;
}

#location-filter-grid .icon {
  cursor: pointer;
}

/* explicit position of elements on the grid */
#location-filter-grid > div:nth-child(1) { grid-column: 4; grid-row: 1; } /* filter icon */
#location-filter-grid > div:nth-child(2) { grid-column: 1 / 6; grid-row: 5; } /* instructions */
#location-filter-grid > div:nth-child(3) { grid-column: 4 / 6; grid-row: 2; } /* select all */
#location-filter-grid > div:nth-child(4) { grid-column: 4 / 6; grid-row: 3; } /* select none */
#location-filter-grid > div:nth-child(5) { grid-column: 1 / 4; grid-row: 1 / 5; } /* map */

#location-message {
  display: flex;
  line-height: 1.2rem;
  height: 100%;
  font-size: 0.8rem;
  font-weight: normal;
  text-align: center;
}

.text-button {
  font-size: 0.8rem;
  cursor: pointer;
}

.left-bottom {
  text-align: left;
  margin-right: auto;
  margin-top: auto;
}

#area-map {
  width: 100%;
  background-image: url("/img/location-map.png");
  background-size: cover;
}

#area-map {
  margin: 0 auto;
}

#area-map svg {
  height: 100%;
  width: 100%;
  cursor: pointer;
}

#area-map .area-selected {
  fill: rgba(0, 100, 0, 0.5);
}

#area-map .area-deselected {
  fill: rgba(133, 114, 78, 0.03);
}

/************************* Filter icons ************************/

.icon {
  position: relative;
  border: 1px solid lightgray;
  border-radius: 0.2rem;
  width: 1.8rem;
  height: 1.8rem;
  display: block;
  padding: 0.3rem;
  background-color: white;
  box-shadow: 0 0 3px 0px lightgrey;
}

.disabled {
  opacity: 0.5;
}

.disabled > img {
  opacity: 0.5;
}

.icon-img {
  width: 100%;
  height:100%;
  object-fit: contain;
}

.included > img,
.excluded > img {
  filter: invert(100%);
}

.included {
  background-color: var(--included-back-colour);
}

.excluded {
  background-color: var(--excluded-back-colour);
}

.filter-status {
  position: absolute;
  top: 0;
  right: 0;
  width: 50%;
}

/* deep enough for category and location filters to stack without tabs */
@media (min-height: 1100px) {
  .tabbed {
    display: block;
  }

  #location-filters,
  #category-filters {
    display: block;
  }

  #feature-location-tabs {
    display: none;
  }
}

