/*************************** Trail blazes ***************************/

/* column for blaze and another for the text */
.bullet-style {
  display: grid;
  grid-template-columns: auto auto;
  row-gap: 0.5rem;
  column-gap: 0.5rem;
  margin-top: 1rem;
}

.bullet-style-text {
  font-size: 0.9rem;
  line-height: 130%;
  margin-bottom: 0.5rem;
}

.trail-marker {
  float: left;
  overflow: hidden;
}

/* blazes are made up of two parallel stripes coloured by trail type */
.blaze {
  border: 1px solid black;
  height: 0.4rem;
  width: 1.6rem;
  padding: 4px;
  margin-bottom: 0.2rem;
}

.common-stripe {
  background-color: white;
}

.gr-stripe {
  background-color: red;
}

.pr-stripe {
  background-color: yellow;
}

.sl-stripe {
  background-color: green;
}