USE [master]
GO
/****** Object:  Database [LaPalmaForWalkers]    Script Date: 17/08/2022 15:33:04 ******/
CREATE DATABASE [LaPalmaForWalkers]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'LaPalmaForWalkers', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL15.SQLEXPRESS\MSSQL\DATA\LaPalmaForWalkers.mdf' , SIZE = 73728KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'LaPalmaForWalkers_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL15.SQLEXPRESS\MSSQL\DATA\LaPalmaForWalkers_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [LaPalmaForWalkers].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [LaPalmaForWalkers]
GO
/****** Object:  Table [dbo].[route]    Script Date: 17/08/2022 15:33:04 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[route](
	[id] [nvarchar](50) NOT NULL,
	[variant_of] [nchar](10) NULL,
	[name] [nvarchar](100) NOT NULL,
	[length_km] [float] NULL,
	[walking_time] [time](7) NULL,
	[short_description] [nvarchar](100) NULL,
	[description] [nvarchar](450) NOT NULL,
	[route_file] [nvarchar](100) NULL,
	[refreshments] [nvarchar](200) NULL,
	[start] [nvarchar](50) NOT NULL,
	[finish] [nvarchar](50) NOT NULL,
	[directions] [nvarchar](100) NULL,
 CONSTRAINT [PK_Routes] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[route_category]    Script Date: 17/08/2022 15:33:05 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[route_category](
	[id] [nvarchar](50) NOT NULL,
	[feature] [nvarchar](50) NOT NULL,
	[is_strong] [bit] NOT NULL,
	[notes] [nvarchar](100) NULL,
 CONSTRAINT [PK_route_category] PRIMARY KEY CLUSTERED 
(
	[id] ASC,
	[feature] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[category]    Script Date: 17/08/2022 15:33:05 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[category](
	[name] [nvarchar](50) NOT NULL,
	[type] [nvarchar](50) NOT NULL,
	[label] [nvarchar](50) NOT NULL,
	[filter_include_text] [nvarchar](50) NULL,
	[filter_exclude_text] [nvarchar](50) NULL,
	[description] [nvarchar](150) NULL,
	[strong] [nvarchar](50) NULL,
	[icon] [nvarchar](50) NOT NULL,
 CONSTRAINT [PK_category] PRIMARY KEY CLUSTERED 
(
	[name] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  View [dbo].[route_filters]    Script Date: 17/08/2022 15:33:05 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE VIEW [dbo].[route_filters] AS
SELECT
	rc.id AS Id,
	rc.feature AS Filter,
	C.type AS FeatureType
FROM
	route_category AS rc
JOIN
	category C ON C.name = RC.feature
JOIN
	route as r ON r.variant_of IS NULL
WHERE rc.id = r.id
GO
/****** Object:  View [dbo].[variant_filter]    Script Date: 17/08/2022 15:33:05 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE VIEW [dbo].[variant_filter] AS
SELECT
	R.variant_of AS RouteId,
	RC.feature AS Feature,
	C.type AS FeatureType,
	COUNT(RC.feature) AS FeatureCount
FROM
	route_category RC
JOIN
	route R ON R.id = RC.id
JOIN
	category C ON C.name = RC.feature
WHERE
	R.variant_of IS NOT NULL
GROUP BY
	R.variant_of, RC.feature, C.type
GO
/****** Object:  Table [dbo].[area]    Script Date: 17/08/2022 15:33:05 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[area](
	[area_name] [nvarchar](50) NOT NULL,
 CONSTRAINT [PK_area] PRIMARY KEY CLUSTERED 
(
	[area_name] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[bus_route]    Script Date: 17/08/2022 15:33:05 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[bus_route](
	[route_number] [smallint] NOT NULL,
	[mins_between] [tinyint] NULL,
 CONSTRAINT [PK_Busroutes] PRIMARY KEY CLUSTERED 
(
	[route_number] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[bus_route_bus_stop]    Script Date: 17/08/2022 15:33:05 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[bus_route_bus_stop](
	[route_number] [smallint] NOT NULL,
	[stop_name] [nvarchar](50) NOT NULL,
 CONSTRAINT [PK_BusrouteBusstops] PRIMARY KEY CLUSTERED 
(
	[route_number] ASC,
	[stop_name] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[bus_stop]    Script Date: 17/08/2022 15:33:05 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[bus_stop](
	[stop_name] [nvarchar](50) NOT NULL,
	[stop_type] [nvarchar](50) NOT NULL,
 CONSTRAINT [PK_Busstops] PRIMARY KEY CLUSTERED 
(
	[stop_name] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[category_type]    Script Date: 17/08/2022 15:33:05 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[category_type](
	[category_type] [nvarchar](50) NOT NULL,
 CONSTRAINT [PK_category_type] PRIMARY KEY CLUSTERED 
(
	[category_type] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[danger]    Script Date: 17/08/2022 15:33:05 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[danger](
	[route_id] [nvarchar](50) NOT NULL,
	[danger] [nvarchar](50) NOT NULL,
	[description] [nvarchar](100) NOT NULL,
	[is_strong] [bit] NOT NULL,
 CONSTRAINT [PK_danger] PRIMARY KEY CLUSTERED 
(
	[route_id] ASC,
	[danger] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[image]    Script Date: 17/08/2022 15:33:05 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[image](
	[id] [nvarchar](50) NOT NULL,
	[is_thumbnail] [bit] NOT NULL,
	[pic_id] [nvarchar](50) NOT NULL,
	[width] [smallint] NOT NULL,
	[height] [smallint] NOT NULL,
	[caption] [nvarchar](100) NULL,
 CONSTRAINT [PK_Images_1] PRIMARY KEY CLUSTERED 
(
	[pic_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[location]    Script Date: 17/08/2022 15:33:05 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[location](
	[name] [nvarchar](50) NOT NULL,
	[latitude] [float] NOT NULL,
	[longitude] [float] NOT NULL,
	[parking] [nvarchar](150) NOT NULL,
	[bus_stop] [nvarchar](50) NULL,
	[bus_notes] [nvarchar](150) NULL,
	[notes] [nvarchar](150) NULL,
	[taxi] [nvarchar](150) NULL,
 CONSTRAINT [PK_Locations] PRIMARY KEY CLUSTERED 
(
	[name] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[location_area]    Script Date: 17/08/2022 15:33:05 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[location_area](
	[area_name] [nvarchar](50) NOT NULL,
	[location] [nvarchar](50) NOT NULL,
 CONSTRAINT [PK_Areas] PRIMARY KEY CLUSTERED 
(
	[area_name] ASC,
	[location] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[opening_time]    Script Date: 17/08/2022 15:33:05 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[opening_time](
	[poi_id] [nvarchar](50) NOT NULL,
	[time_period] [nvarchar](50) NOT NULL,
	[hours] [nvarchar](50) NOT NULL,
 CONSTRAINT [PK_opening_times] PRIMARY KEY CLUSTERED 
(
	[poi_id] ASC,
	[time_period] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[poi]    Script Date: 17/08/2022 15:33:05 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[poi](
	[id] [nvarchar](50) NOT NULL,
	[short_name] [nvarchar](50) NOT NULL,
	[full_name] [nvarchar](100) NOT NULL,
	[description] [nvarchar](150) NOT NULL,
	[entry_cost] [nvarchar](50) NULL,
	[tel] [nvarchar](50) NULL,
	[email] [nvarchar](50) NULL,
	[web_name] [nvarchar](50) NULL,
	[web_address] [nvarchar](150) NULL,
	[location] [nvarchar](50) NOT NULL,
	[location_description] [nvarchar](100) NOT NULL,
 CONSTRAINT [PK_poi] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[poi_image]    Script Date: 17/08/2022 15:33:05 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[poi_image](
	[id] [nvarchar](50) NOT NULL,
	[is_thumbnail] [bit] NOT NULL,
	[pic_id] [nvarchar](50) NOT NULL,
	[width] [smallint] NOT NULL,
	[height] [smallint] NOT NULL,
 CONSTRAINT [PK_poi_image_1] PRIMARY KEY CLUSTERED 
(
	[id] ASC,
	[is_thumbnail] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[poi_tag]    Script Date: 17/08/2022 15:33:05 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[poi_tag](
	[poi_id] [nvarchar](50) NOT NULL,
	[tag] [nvarchar](50) NOT NULL,
 CONSTRAINT [PK_poi_tag] PRIMARY KEY CLUSTERED 
(
	[poi_id] ASC,
	[tag] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[route_poi]    Script Date: 17/08/2022 15:33:05 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[route_poi](
	[route_id] [nvarchar](50) NOT NULL,
	[poi_id] [nvarchar](50) NOT NULL,
 CONSTRAINT [PK_route_poi] PRIMARY KEY CLUSTERED 
(
	[route_id] ASC,
	[poi_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[route_trail]    Script Date: 17/08/2022 15:33:05 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[route_trail](
	[route_id] [nvarchar](50) NOT NULL,
	[trail_id] [nvarchar](50) NOT NULL,
 CONSTRAINT [PK_RoutesTrails] PRIMARY KEY CLUSTERED 
(
	[route_id] ASC,
	[trail_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[tag]    Script Date: 17/08/2022 15:33:05 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tag](
	[tag] [nvarchar](50) NOT NULL,
	[description] [nvarchar](50) NOT NULL,
 CONSTRAINT [PK_Tags] PRIMARY KEY CLUSTERED 
(
	[tag] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[trail]    Script Date: 17/08/2022 15:33:05 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[trail](
	[trail_id] [nvarchar](50) NOT NULL,
 CONSTRAINT [PK_Trails] PRIMARY KEY CLUSTERED 
(
	[trail_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
INSERT [dbo].[area] ([area_name]) VALUES (N'central')
INSERT [dbo].[area] ([area_name]) VALUES (N'east')
INSERT [dbo].[area] ([area_name]) VALUES (N'north')
GO
INSERT [dbo].[bus_route] ([route_number], [mins_between]) VALUES (2, NULL)
INSERT [dbo].[bus_route] ([route_number], [mins_between]) VALUES (5, NULL)
INSERT [dbo].[bus_route] ([route_number], [mins_between]) VALUES (8, NULL)
GO
INSERT [dbo].[bus_route_bus_stop] ([route_number], [stop_name]) VALUES (2, N'Santa Cruz')
INSERT [dbo].[bus_route_bus_stop] ([route_number], [stop_name]) VALUES (5, N'Los Llanos')
INSERT [dbo].[bus_route_bus_stop] ([route_number], [stop_name]) VALUES (8, N'Los Llanos')
GO
INSERT [dbo].[bus_stop] ([stop_name], [stop_type]) VALUES (N'Argual Abajo', N'stop')
INSERT [dbo].[bus_stop] ([stop_name], [stop_type]) VALUES (N'Barlovento', N'interchange')
INSERT [dbo].[bus_stop] ([stop_name], [stop_type]) VALUES (N'Centro de Visitantes', N'stop')
GO
INSERT [dbo].[category] ([name], [type], [label], [filter_include_text], [filter_exclude_text], [description], [strong], [icon]) VALUES (N'accessBus', N'basics', N'Fully accessible by bus', N'Fully accessible by bus', NULL, NULL, NULL, N'bus.svg')
INSERT [dbo].[category] ([name], [type], [label], [filter_include_text], [filter_exclude_text], [description], [strong], [icon]) VALUES (N'accessCar', N'basics', N'Fully accessible by car', N'Fully accessible by car', NULL, NULL, NULL, N'car.svg')
INSERT [dbo].[category] ([name], [type], [label], [filter_include_text], [filter_exclude_text], [description], [strong], [icon]) VALUES (N'archeological', N'interest', N'Archeological', N'With historic interest', NULL, N'Passes sites of archeological interest, mostly petroglyphs.', N'Good examples', N'ancient.svg')
GO
INSERT [dbo].[category_type] ([category_type]) VALUES (N'basics')
INSERT [dbo].[category_type] ([category_type]) VALUES (N'danger')
INSERT [dbo].[category_type] ([category_type]) VALUES (N'duration')
GO
INSERT [dbo].[danger] ([route_id], [danger], [description], [is_strong]) VALUES (N'01', N'Dogs', N'Some vicious seeming dogs on the route, hopefully chained up.', 0)
INSERT [dbo].[danger] ([route_id], [danger], [description], [is_strong]) VALUES (N'02', N'Canal', N'Vegetation can obscure missing or broken tiles covering the canal.', 0)
INSERT [dbo].[danger] ([route_id], [danger], [description], [is_strong]) VALUES (N'04', N'Path', N'Narrow crumbling precipitous path. There have been many injuries and even deaths.', 1)
GO
INSERT [dbo].[image] ([id], [is_thumbnail], [pic_id], [width], [height], [caption]) VALUES (N'01', 1, N'route01-01-250x187', 250, 187, NULL)
INSERT [dbo].[image] ([id], [is_thumbnail], [pic_id], [width], [height], [caption]) VALUES (N'01', 0, N'route01-01-h525', 576, 525, N'Sugar mills near Santa Cruz')
INSERT [dbo].[image] ([id], [is_thumbnail], [pic_id], [width], [height], [caption]) VALUES (N'01', 0, N'route01-02-h525', 865, 525, N'Iglesia de El Salvador, Plaza de España')
GO
INSERT [dbo].[location] ([name], [latitude], [longitude], [parking], [bus_stop], [bus_notes], [notes], [taxi]) VALUES (N'Area Recreativa El Fayal', 28.778678894042969, -17.973037719726562, N'Plentiful, except at the weekends and holidays when there is a market.', N'El Pinar', N'Get off at the bus interchange point and walk down SL PG 61.', N'Recreation area with nearby market. Short walk from El Pinar.', NULL)
INSERT [dbo].[location] ([name], [latitude], [longitude], [parking], [bus_stop], [bus_notes], [notes], [taxi]) VALUES (N'Área Recreativa Fuente Los Roques', 28.519245147705078, -17.833219528198242, N'Plenty of spaces at the recreation area.', NULL, NULL, N'Accessed from a froestry path off the LP-2 road. Enquire at Los Canarios information centre for track conditions.', NULL)
INSERT [dbo].[location] ([name], [latitude], [longitude], [parking], [bus_stop], [bus_notes], [notes], [taxi]) VALUES (N'Argual Abajo', 28.654548645019531, -17.927770614624023, N'Plentiful parking but gets busy on market days.', N'Argual Abajo', NULL, N'Popular flea market in the plaza on Sundays.', NULL)
GO
INSERT [dbo].[location_area] ([area_name], [location]) VALUES (N'central', N'Argual Abajo')
INSERT [dbo].[location_area] ([area_name], [location]) VALUES (N'central', N'Cascada de Los Colores')
INSERT [dbo].[location_area] ([area_name], [location]) VALUES (N'central', N'Centro de Visitantes')
GO
INSERT [dbo].[opening_time] ([poi_id], [time_period], [hours]) VALUES (N'01', N'Daily', N'08:30 - 19:30')
INSERT [dbo].[opening_time] ([poi_id], [time_period], [hours]) VALUES (N'01', N'Holidays', N'CLOSED')
INSERT [dbo].[opening_time] ([poi_id], [time_period], [hours]) VALUES (N'02', N'Daily', N'09:00 – 17:30')
GO
INSERT [dbo].[poi] ([id], [short_name], [full_name], [description], [entry_cost], [tel], [email], [web_name], [web_address], [location], [location_description]) VALUES (N'01', N'The ''Glass House''', N'The ''Glass House'' tourist information centre', N'Lots of good information from friendly (generally) multi-lingual staff. Small bar situated right next door.', N'FREE', N'(+34) 922 412 106', N'oitaridane@lapalmacit.com', NULL, NULL, N'Plaza de la Constitución', N'In a traffic island where the bus station, port and old town meet.')
INSERT [dbo].[poi] ([id], [short_name], [full_name], [description], [entry_cost], [tel], [email], [web_name], [web_address], [location], [location_description]) VALUES (N'02', N'Volcán San Antonio', N'Volcán San Antonio Visitor Centre', N'Good geological exhibition, cafe & toilets. Also the place to arrange camel rides.', N'5€ (inc. parking)', N'(+34) 691 593 584', NULL, NULL, NULL, N'Los Canarios', N'Just south of Los Canarios (within walking distance).')
INSERT [dbo].[poi] ([id], [short_name], [full_name], [description], [entry_cost], [tel], [email], [web_name], [web_address], [location], [location_description]) VALUES (N'03', N'Reserva Marina', N'Centro de Interpretación de la Reserva Marina', N'The old lighthouse with attached (not very good) museum.', N'2€', N'(+34) 922 480 223', N'reservasmarinas@mapya.es', NULL, NULL, N'Faro de Fuencaliente', N'In the far south of the island.')
GO
INSERT [dbo].[poi_image] ([id], [is_thumbnail], [pic_id], [width], [height]) VALUES (N'01', 0, N'poi01-400x300', 400, 300)
INSERT [dbo].[poi_image] ([id], [is_thumbnail], [pic_id], [width], [height]) VALUES (N'01', 1, N'poi01-250x187', 250, 187)
INSERT [dbo].[poi_image] ([id], [is_thumbnail], [pic_id], [width], [height]) VALUES (N'02', 0, N'poi02-400x300', 400, 300)
GO
INSERT [dbo].[poi_tag] ([poi_id], [tag]) VALUES (N'01', N'info')
INSERT [dbo].[poi_tag] ([poi_id], [tag]) VALUES (N'02', N'info')
INSERT [dbo].[poi_tag] ([poi_id], [tag]) VALUES (N'02', N'museum')
GO
INSERT [dbo].[route] ([id], [variant_of], [name], [length_km], [walking_time], [short_description], [description], [route_file], [refreshments], [start], [finish], [directions]) VALUES (N'01a', N'01        ', N'Santa Cruz highlights', NULL, NULL, NULL, N'A fairly long and strenuous circuit taking in the best bits around Santa Cruz including a great viewpoint, a canal path through semi rural areas, the church at Las Nieves, a dry riverbed descent, and watermills.', N'LP01a Santa Cruz highlights', NULL, N'Plaza de España', N'Plaza de España', N'[01a] all the way')
GO
INSERT [dbo].[route_category] ([id], [feature], [is_strong], [notes]) VALUES (N'01', N'accessBus', 0, NULL)
INSERT [dbo].[route_category] ([id], [feature], [is_strong], [notes]) VALUES (N'01', N'accessCar', 0, NULL)
INSERT [dbo].[route_category] ([id], [feature], [is_strong], [notes]) VALUES (N'01', N'circular', 0, NULL)
GO
INSERT [dbo].[route_poi] ([route_id], [poi_id]) VALUES (N'01', N'28')
INSERT [dbo].[route_poi] ([route_id], [poi_id]) VALUES (N'02', N'27')
INSERT [dbo].[route_poi] ([route_id], [poi_id]) VALUES (N'03', N'26')
GO
INSERT [dbo].[route_trail] ([route_id], [trail_id]) VALUES (N'01', N'PR LP 01')
INSERT [dbo].[route_trail] ([route_id], [trail_id]) VALUES (N'01', N'PR LP 02.2')
INSERT [dbo].[route_trail] ([route_id], [trail_id]) VALUES (N'02', N'PR LP 02')
GO
INSERT [dbo].[tag] ([tag], [description]) VALUES (N'archeology', N'Petroglyphs etc.')
INSERT [dbo].[tag] ([tag], [description]) VALUES (N'building', N'Archetecturally significant')
INSERT [dbo].[tag] ([tag], [description]) VALUES (N'camping', N'Campsite or hiker hut')
GO
INSERT [dbo].[trail] ([trail_id]) VALUES (N'GR 130 Etapa 1')
INSERT [dbo].[trail] ([trail_id]) VALUES (N'GR 130 Etapa 2')
INSERT [dbo].[trail] ([trail_id]) VALUES (N'GR 130 Etapa 3')
GO
ALTER TABLE [dbo].[bus_route_bus_stop]  WITH CHECK ADD  CONSTRAINT [FK_BusrouteBusstops_Busroutes] FOREIGN KEY([route_number])
REFERENCES [dbo].[bus_route] ([route_number])
GO
ALTER TABLE [dbo].[bus_route_bus_stop] CHECK CONSTRAINT [FK_BusrouteBusstops_Busroutes]
GO
ALTER TABLE [dbo].[bus_route_bus_stop]  WITH CHECK ADD  CONSTRAINT [FK_BusrouteBusstops_Busstops] FOREIGN KEY([stop_name])
REFERENCES [dbo].[bus_stop] ([stop_name])
GO
ALTER TABLE [dbo].[bus_route_bus_stop] CHECK CONSTRAINT [FK_BusrouteBusstops_Busstops]
GO
ALTER TABLE [dbo].[category]  WITH CHECK ADD  CONSTRAINT [FK_category_category_type] FOREIGN KEY([type])
REFERENCES [dbo].[category_type] ([category_type])
GO
ALTER TABLE [dbo].[category] CHECK CONSTRAINT [FK_category_category_type]
GO
ALTER TABLE [dbo].[danger]  WITH CHECK ADD  CONSTRAINT [FK_danger_route] FOREIGN KEY([route_id])
REFERENCES [dbo].[route] ([id])
GO
ALTER TABLE [dbo].[danger] CHECK CONSTRAINT [FK_danger_route]
GO
ALTER TABLE [dbo].[image]  WITH CHECK ADD  CONSTRAINT [FK_image_route] FOREIGN KEY([id])
REFERENCES [dbo].[route] ([id])
GO
ALTER TABLE [dbo].[image] CHECK CONSTRAINT [FK_image_route]
GO
ALTER TABLE [dbo].[location]  WITH CHECK ADD  CONSTRAINT [FK_location_bus_stop] FOREIGN KEY([bus_stop])
REFERENCES [dbo].[bus_stop] ([stop_name])
GO
ALTER TABLE [dbo].[location] CHECK CONSTRAINT [FK_location_bus_stop]
GO
ALTER TABLE [dbo].[location_area]  WITH CHECK ADD  CONSTRAINT [FK_location_area_area] FOREIGN KEY([area_name])
REFERENCES [dbo].[area] ([area_name])
GO
ALTER TABLE [dbo].[location_area] CHECK CONSTRAINT [FK_location_area_area]
GO
ALTER TABLE [dbo].[location_area]  WITH CHECK ADD  CONSTRAINT [FK_location_area_location] FOREIGN KEY([location])
REFERENCES [dbo].[location] ([name])
GO
ALTER TABLE [dbo].[location_area] CHECK CONSTRAINT [FK_location_area_location]
GO
ALTER TABLE [dbo].[opening_time]  WITH CHECK ADD  CONSTRAINT [FK_opening_time_poi] FOREIGN KEY([poi_id])
REFERENCES [dbo].[poi] ([id])
GO
ALTER TABLE [dbo].[opening_time] CHECK CONSTRAINT [FK_opening_time_poi]
GO
ALTER TABLE [dbo].[poi]  WITH CHECK ADD  CONSTRAINT [FK_poi_location] FOREIGN KEY([location])
REFERENCES [dbo].[location] ([name])
GO
ALTER TABLE [dbo].[poi] CHECK CONSTRAINT [FK_poi_location]
GO
ALTER TABLE [dbo].[poi_image]  WITH CHECK ADD  CONSTRAINT [FK_poi_image_poi] FOREIGN KEY([id])
REFERENCES [dbo].[poi] ([id])
GO
ALTER TABLE [dbo].[poi_image] CHECK CONSTRAINT [FK_poi_image_poi]
GO
ALTER TABLE [dbo].[poi_tag]  WITH CHECK ADD  CONSTRAINT [FK_poi_tag_poi] FOREIGN KEY([poi_id])
REFERENCES [dbo].[poi] ([id])
GO
ALTER TABLE [dbo].[poi_tag] CHECK CONSTRAINT [FK_poi_tag_poi]
GO
ALTER TABLE [dbo].[poi_tag]  WITH CHECK ADD  CONSTRAINT [FK_poi_tag_tag] FOREIGN KEY([tag])
REFERENCES [dbo].[tag] ([tag])
GO
ALTER TABLE [dbo].[poi_tag] CHECK CONSTRAINT [FK_poi_tag_tag]
GO
ALTER TABLE [dbo].[route]  WITH CHECK ADD  CONSTRAINT [FK_Routes_LocationsFinish] FOREIGN KEY([finish])
REFERENCES [dbo].[location] ([name])
GO
ALTER TABLE [dbo].[route] CHECK CONSTRAINT [FK_Routes_LocationsFinish]
GO
ALTER TABLE [dbo].[route]  WITH CHECK ADD  CONSTRAINT [FK_Routes_LocationsStart] FOREIGN KEY([start])
REFERENCES [dbo].[location] ([name])
GO
ALTER TABLE [dbo].[route] CHECK CONSTRAINT [FK_Routes_LocationsStart]
GO
ALTER TABLE [dbo].[route_category]  WITH CHECK ADD  CONSTRAINT [FK_route_category_category] FOREIGN KEY([feature])
REFERENCES [dbo].[category] ([name])
GO
ALTER TABLE [dbo].[route_category] CHECK CONSTRAINT [FK_route_category_category]
GO
ALTER TABLE [dbo].[route_category]  WITH CHECK ADD  CONSTRAINT [FK_route_category_route] FOREIGN KEY([id])
REFERENCES [dbo].[route] ([id])
GO
ALTER TABLE [dbo].[route_category] CHECK CONSTRAINT [FK_route_category_route]
GO
ALTER TABLE [dbo].[route_poi]  WITH CHECK ADD  CONSTRAINT [FK_route_poi_poi] FOREIGN KEY([poi_id])
REFERENCES [dbo].[poi] ([id])
GO
ALTER TABLE [dbo].[route_poi] CHECK CONSTRAINT [FK_route_poi_poi]
GO
ALTER TABLE [dbo].[route_poi]  WITH CHECK ADD  CONSTRAINT [FK_route_poi_route] FOREIGN KEY([route_id])
REFERENCES [dbo].[route] ([id])
GO
ALTER TABLE [dbo].[route_poi] CHECK CONSTRAINT [FK_route_poi_route]
GO
ALTER TABLE [dbo].[route_trail]  WITH CHECK ADD  CONSTRAINT [FK_RoutesTrails_Routes] FOREIGN KEY([route_id])
REFERENCES [dbo].[route] ([id])
GO
ALTER TABLE [dbo].[route_trail] CHECK CONSTRAINT [FK_RoutesTrails_Routes]
GO
ALTER TABLE [dbo].[route_trail]  WITH CHECK ADD  CONSTRAINT [FK_RoutesTrails_Trails] FOREIGN KEY([trail_id])
REFERENCES [dbo].[trail] ([trail_id])
GO
ALTER TABLE [dbo].[route_trail] CHECK CONSTRAINT [FK_RoutesTrails_Trails]
GO
/****** Object:  StoredProcedure [dbo].[category_to_json]    Script Date: 17/08/2022 15:33:05 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

-- =============================================
-- Author:		Robert Anstey
-- Create date: 06/08/2022
-- Description:	Outputs category definitions
-- =============================================
CREATE PROCEDURE [dbo].[category_to_json]
	@jsonOutput NVARCHAR(MAX) OUTPUT
AS
BEGIN
	-- SET NOCOUNT ON added to prevent extra result sets from
	-- interfering with SELECT statements.
	SET NOCOUNT ON;

	SET @jsonOutput = (
		SELECT c.name,
			   c.type,
			   c.label,
			   ISNULL(c.description, c.label) AS description,
			   c.icon,
			   ISNULL(c.filter_exclude_text, '') AS exclude_text,
			   ISNULL(c.filter_include_text, '') AS include_text,
			   c.strong AS strong_tag
		  FROM category AS c
		FOR JSON PATH)
END
GO
/****** Object:  StoredProcedure [dbo].[lapalmadata_to_json]    Script Date: 17/08/2022 15:33:05 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO



-- =============================================
-- Author:		Robert Anstey
-- Create date: 17/08/2020
-- Description:	Combines sub procedure output into one JSON file
-- =============================================
CREATE PROCEDURE [dbo].[lapalmadata_to_json]
	@jsonOutput NVARCHAR(MAX) OUTPUT

AS
BEGIN
	-- SET NOCOUNT ON added to prevent extra result sets from
	-- interfering with SELECT statements.
	SET NOCOUNT ON;

	DECLARE @RC1 INT
	DECLARE @jsonOutput1 NVARCHAR(MAX)

	DECLARE @RC2 INT
	DECLARE @jsonOutput2 NVARCHAR(MAX)

	DECLARE @RC3 INT
	DECLARE @jsonOutput3 NVARCHAR(MAX)

	DECLARE @RC4 INT
	DECLARE @jsonOutput4 NVARCHAR(MAX)

	DECLARE @RC5 INT
	DECLARE @jsonOutput5 NVARCHAR(MAX)

	EXECUTE @RC1 = [dbo].[category_to_json]
	   @jsonOutput1 OUTPUT

	EXECUTE @RC2 = [dbo].[tag_to_json]
	   @jsonOutput2 OUTPUT

	EXECUTE @RC3 = [dbo].[location_to_json]
		@jsonOutput3 OUTPUT

	EXECUTE @RC4 = [dbo].[poi_to_json]
		@jsonOutput4 OUTPUT

	EXECUTE @RC5 = [dbo].[route_to_json]
		@jsonOutput5 OUTPUT

    -- Insert statements for procedure here
	SET @jsonOutput = (SELECT CONCAT(
		'{',
		'  "categories": ',		@jsonOutput1, 
		', "tags": ',			@jsonOutput2, 
		', "locations": ',		@jsonOutput3, 
		', "poi": ',			@jsonOutput4, 
		', "routes": ',			@jsonOutput5, 
		'}'))
END
GO
/****** Object:  StoredProcedure [dbo].[location_to_json]    Script Date: 17/08/2022 15:33:05 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

-- =============================================
-- Author:		Robert Anstey
-- Create date: 06/08/2022
-- Description:	La Palma location data
-- =============================================
CREATE PROCEDURE [dbo].[location_to_json]
	@jsonOutput NVARCHAR(MAX) OUTPUT

AS
BEGIN
	-- SET NOCOUNT ON added to prevent extra result sets from
	-- interfering with SELECT statements.
	SET NOCOUNT ON;

	SET @jsonOutput = (SELECT l.name,
		   FORMAT(l.longitude, 'N8') AS long,
		   FORMAT(l.latitude, 'N8') AS lat,
		   l.parking,
		   l.taxi,
		   l.bus_notes AS 'bus.notes',
		   l.bus_stop AS 'bus.stop',
		   (   SELECT STRING_AGG(ISNULL(bus_route_bus_stop.route_number, ' '), ', ')
				 FROM bus_route_bus_stop
				WHERE bus_route_bus_stop.stop_name = l.bus_stop) AS 'bus.routes',
		   l.notes,
		   (SELECT JSON_QUERY((   SELECT CONCAT('["', STRING_AGG(location_area.area_name, '","'), '"]')
									FROM location_area
								   WHERE location_area.location = l.name))) As areas
		FROM location AS l
	FOR JSON PATH)
END
GO
/****** Object:  StoredProcedure [dbo].[poi_to_json]    Script Date: 17/08/2022 15:33:05 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO



-- =============================================
-- Author:		Robert Anstey
-- Create date: 05/08/2022
-- Description:	Outputs a JSON format for POI data
-- =============================================
CREATE PROCEDURE [dbo].[poi_to_json] 
	@jsonOutput NVARCHAR(MAX) OUTPUT

AS
BEGIN
	SET NOCOUNT ON;

	SET @jsonOutput = (
		SELECT p.id,
			   p.short_name,
			   p.full_name,
			   p.description,
			   p.location,
			   p.location_description,
			   p.tel,
			   p.email,
			   p.entry_cost,
			   p.web_name,
			   p.web_address,

			   -- images
			   (   SELECT pi.pic_id
					 FROM poi_image AS pi
					WHERE pi.id           = p.id
					  AND pi.is_thumbnail = 1) AS 'thumbnail.file_name',
			   (   SELECT pi.width
					 FROM poi_image AS pi
					WHERE pi.id           = p.id
					  AND pi.is_thumbnail = 1) AS 'thumbnail.width',
			   (   SELECT pi.height
					 FROM poi_image AS pi
					WHERE pi.id           = p.id
					  AND pi.is_thumbnail = 1) AS 'thumbnail.height',
			   (   SELECT pi.pic_id
					 FROM poi_image AS pi
					WHERE pi.id           = p.id
					  AND pi.is_thumbnail = 0) AS 'main_image.file_name',
			   (   SELECT pi.width
					 FROM poi_image AS pi
					WHERE pi.id           = p.id
					  AND pi.is_thumbnail = 0) AS 'main_image.width',
			   (   SELECT pi.height
					 FROM poi_image AS pi
					WHERE pi.id           = p.id
					  AND pi.is_thumbnail = 0) AS 'main_image.height',

			   -- opening times
			   (   SELECT opening_time.time_period,
						  opening_time.[hours]
					 FROM opening_time
					WHERE opening_time.poi_id = p.id
				   FOR JSON PATH) AS opening_times,

				-- tags as array of strings
			   (SELECT JSON_QUERY((   SELECT CONCAT('["', STRING_AGG(poi_tag.tag, '","'), '"]')
										FROM poi_tag
									   WHERE poi_tag.poi_id = p.id))) As tags,
        
				-- related walks as array of strings
			   (SELECT JSON_QUERY((   SELECT CONCAT('["', STRING_AGG(RTRIM(route_poi.route_id), '","'), '"]')
										FROM route_poi
									   WHERE route_poi.poi_id = p.id))) As related_walks
		  FROM poi AS p
		 ORDER BY p.short_name
		FOR JSON PATH)
END
GO
/****** Object:  StoredProcedure [dbo].[route_to_json]    Script Date: 17/08/2022 15:33:05 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO




-- =============================================
-- Author:		Robert Anstey
-- Create date: 06/08/2022
-- Description:	Returns La Palma walking routes data
-- =============================================
CREATE PROCEDURE [dbo].[route_to_json]
	@jsonOutput NVARCHAR(MAX) OUTPUT

AS
BEGIN
	-- SET NOCOUNT ON added to prevent extra result sets from
	-- interfering with SELECT statements.
	SET NOCOUNT ON;

	SET @jsonOutput = (
		SELECT r.id,
		   r.name,
		   r.short_description,
		   r.description,
		   r.start AS start_name,
		   r.finish AS finish_name,
		   CONVERT(DECIMAL(5, 1), r.length_km) as length_km,
		   CONVERT(DECIMAL(5, 1), r.length_km / 1.609) as length_miles,
		   FORMAT(CAST(r.walking_time AS TIME), N'h\:mm') as walking_time,
		   r.refreshments,
		   r.route_file,

		   -- thumbnail image
		   (SELECT i.pic_id FROM image AS i WHERE i.id = r.id AND i.is_thumbnail = 1) AS 'thumbnail.file_name',
		   (SELECT i.width FROM image AS i WHERE i.id = r.id AND i.is_thumbnail = 1) AS 'thumbnail.width',
		   (SELECT i.height FROM image AS i WHERE i.id = r.id AND i.is_thumbnail = 1) AS 'thumbnail.height',

		   -- additional images
		   (   SELECT i.pic_id AS file_name,
					  i.width,
					  i.height,
					  i.caption
				 FROM image AS i
				WHERE i.id           = r.id
				  AND i.is_thumbnail = 0
			   FOR JSON PATH) AS images,

		   -- trail names as array of strings
		   (SELECT JSON_QUERY((   SELECT CONCAT('["', STRING_AGG(route_trail.trail_id, '","'), '"]')
									FROM route_trail
								   WHERE route_trail.route_id = r.id))) As trails,

		   -- dangers
		   (   SELECT d.danger,
					  d.description AS details,
					  d.is_strong
				 FROM danger AS d
				WHERE d.route_id = r.id
			   FOR JSON PATH) AS dangers,

		   -- POI
		   (   SELECT p.id,
					  p.short_name
				 FROM route_poi AS rp
				 JOIN poi AS p
				   ON rp.poi_id = p.id
				WHERE rp.route_id = r.id
			   FOR JSON PATH) as poi,

		   -- inner array of variants
		   (   SELECT v.id,
					  v.name,
					  v.description,
					  CAST((   SELECT 1
								 FROM route_category
								WHERE route_category.id      = r.id
								  AND route_category.feature = 'accessBus') AS BIT) as accessBus,
					  CAST((   SELECT 1
								 FROM route_category
								WHERE route_category.id      = r.id
								  AND route_category.feature = 'accessCar') AS BIT) as accessCar,
					  (   SELECT route_category.feature
							FROM route_category
							JOIN category
							  ON category.name = route_category.feature
						   WHERE route_category.id = r.id
							 AND category.type     = 'walkType') as walk_type,					  
					  (   SELECT route_category.feature
							FROM route_category
							JOIN category
							  ON category.name = route_category.feature
						   WHERE route_category.id = r.id
							 AND category.type     = 'duration') as duration,
					  (   SELECT route_category.feature
							FROM route_category
							JOIN category
							  ON category.name = route_category.feature
						   WHERE route_category.id = r.id
							 AND category.type     = 'effort') as effort,
					  v.route_file,
					  v.start AS start_name,
					  v.finish AS finish_name,
					  v.directions
				 FROM route AS v
				WHERE v.variant_of = r.id
			   FOR JSON PATH) AS variants,

		   -- inner list of attributes
		   (   SELECT c.type,
					  rc.feature AS feature_name,
                      c.label,
					  rc.is_strong,
                      COALESCE(rc.notes, c.description) AS description,
                      c.icon,
					  c.strong AS strong_tag
				 FROM route_category AS rc
				 JOIN category AS c
				   ON c.name = rc.feature
				WHERE rc.id = r.id
				ORDER BY c.type,
						 rc.feature
			   FOR JSON PATH) AS attributes,

			-- inner list declaring whether there are any variants with the listed attribute or not
		   (   SELECT CAST(COUNT(1) AS BIT)
				 FROM route_category
				 JOIN route
				   ON route.id = route_category.id
				WHERE route.variant_of       = r.id
				  AND route_category.feature = 'circular') AS 'any_variant.circular',
		   (   SELECT CAST(COUNT(1) AS BIT)
				 FROM route_category
				 JOIN route
				   ON route.id = route_category.id
				WHERE route.variant_of       = r.id
				  AND route_category.feature = 'accessCar') AS 'any_variant.accessCar',
		   (   SELECT CAST(COUNT(1) AS BIT)
				 FROM route_category
				 JOIN route
				   ON route.id = route_category.id
				WHERE route.variant_of       = r.id
				  AND route_category.feature = 'accessBus') AS 'any_variant.accessBus',
		   (   SELECT CAST(COUNT(1) AS BIT)
				 FROM route_category
				 JOIN route
				   ON route.id = route_category.id
				WHERE route.variant_of           = r.id
				  AND (   route_category.feature = 'stroll'
					 OR   route_category.feature = 'half')) AS 'any_variant.short'
	  FROM route AS r
	 WHERE r.variant_of IS NULL
	FOR JSON PATH)
END
GO
/****** Object:  StoredProcedure [dbo].[tag_to_json]    Script Date: 17/08/2022 15:33:05 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author:		Robert Anstey
-- Create date: 09/08/2022
-- Description:	Lists POI tags and descriptions
-- =============================================
CREATE PROCEDURE [dbo].[tag_to_json] 
	@jsonOutput NVARCHAR(MAX) OUTPUT
AS
BEGIN
	-- SET NOCOUNT ON added to prevent extra result sets from
	-- interfering with SELECT statements.
	SET NOCOUNT ON;

    SET @jsonOutput = (
		SELECT
			t.tag,
			t.description
		FROM tag AS t
		FOR JSON PATH
	)	
END
GO
USE [master]
GO
